@import '../../styles/colors';

.contact_section {

    .contact_area {
        background-color: $bg_light;
        padding-top: 55px;
        padding-bottom: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .contact_container {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            margin: 0 var(--window-margin);
            display: flex;

            @media (max-width:950px) {
                flex-direction: column;
            }

            .left {
                flex-basis: 66%;
                max-width: 66%;
                padding: 0px 15px;

                // border: 1px solid red;
                @media (max-width:950px) {
                    flex-basis: 100%;
                    max-width: 100%;
                }

                .form_box {
                    border: 1px solid rgba(128, 137, 150, 0.1);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    margin-bottom: 30px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 40px rgb(82 85 90 / 10%);
                    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
                    box-shadow: 0 0 40px rgb(82 85 90 / 10%);

                    .form_title_wrap {
                        padding: 20px;
                        border-bottom: 1px solid rgba(128, 137, 150, 0.1);

                        .title {
                            font-size: 18px;
                            color: $black1;
                        }

                        .desc {
                            font-size: 15px !important;
                        }
                    }

                    .form_content {
                        padding: 30px;

                        @media (max-width:400px) {
                            padding: 17px;

                        }

                        .contact_form_action {
                            .form {
                                display: flex;
                                gap: 1rem;
                                justify-content: space-between;

                                @media (max-width:768px) {
                                    flex-direction: column;
                                }

                                .input_box {
                                    width: 100%;

                                    .input {
                                        margin-bottom: 1rem;
                                    }
                                }
                            }

                            .lodbtn {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .loading {
                                    $colors: #7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 109px;
                                    height: 40px;
                                    font-size: 15px;
                                    padding: 0px 20px;
                                    line-height: 47px;
                                    transition: ease-in-out 0.3s;
                                    background-color: white;
                                    cursor: pointer;
                                    border: none;
                                    border-radius: 4px;
                                    font-weight: 500;
                                    border: 1px solid $mainBlue;

                                    @media (max-width: 990px) {
                                        margin-top: 1.5rem;
                                        flex-basis: unset;
                                        width: 100%;
                                    }

                                    .dot {
                                        position: relative;
                                        width: .36em;
                                        height: .36em;
                                        margin: 0.4em;
                                        border-radius: 50%;

                                        &::before {
                                            position: absolute;
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            background: inherit;
                                            border-radius: inherit;
                                            animation: wave 1.4s ease-out infinite;
                                        }

                                        @for $i from 1 through 5 {
                                            &:nth-child(#{$i}) {
                                                background: nth($colors, $i);

                                                &::before {
                                                    animation-delay: $i * 0.2s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .inp_textarea {
                                margin-top: -1rem;
                            }
                        }
                    }
                }
            }

            .right {
                flex-basis: 33%;
                padding: 0px 15px;
                max-width: 33%;

                // border: 1px solid rgb(6, 142, 154);
                @media (max-width:950px) {
                    flex-basis: 100%;
                    max-width: 100%;
                }

                .form_box {
                    border: 1px solid rgba(128, 137, 150, 0.1);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    margin-bottom: 30px;
                    background-color: #fff;
                    -webkit-box-shadow: 0 0 40px rgb(82 85 90 / 10%);
                    -moz-box-shadow: 0 0 40px rgba(82, 85, 90, 0.1);
                    box-shadow: 0 0 40px rgb(82 85 90 / 10%);

                    .form_title_wrap {
                        padding: 15px;
                        border-bottom: 1px solid rgba(128, 137, 150, 0.1);

                        .title {
                            font-size: 18px;
                            color: $black1;
                        }

                        .desc {
                            font-size: 15px !important;
                        }
                    }

                    .form_content {
                        padding: 0px;

                        .address_book {
                            ul {
                                @media (max-width:950px) {
                                    padding: 0px 20px;
                                }

                                @media (max-width:400px) {
                                    padding: 0px 0px;
                                }

                                li {
                                    position: relative;
                                    padding-left: 45px;
                                    padding-bottom: 15px;
                                    margin-bottom: 15px;
                                    border-bottom: 1px solid rgba(128, 137, 150, 0.1);

                                    @media (max-width:400px) {
                                        padding-left: 30px;

                                    }

                                    i {
                                        position: absolute;
                                        left: 0;
                                        top: 5px;
                                        width: 35px;
                                        height: 35px;
                                        line-height: 35px;
                                        font-size: 18px;
                                        background-color: #287dfa;
                                        color: rgba(255, 255, 255, 0.878);
                                        border-radius: 50%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        @media (max-width:400px) {
                                            position: absolute;
                                            left: 0;
                                            top: 5px;
                                            width: 24px;
                                            height: 25px;
                                            line-height: 35px;
                                            font-size: 12px;
                                            background-color: #287dfa;
                                            color: rgba(255, 255, 255, 0.878);
                                            border-radius: 50%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }





                                    }

                                    h5 {
                                        margin: 0px;
                                        padding: 0px;
                                        margin-top: 1rem;
                                        // margin-bottom: 1rem;
                                        font-weight: bold;

                                        @media (max-width:400px) {
                                            font-size: 15px;
                                        }

                                    }

                                    p {

                                        @media (max-width:400px) {
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}