@import '../../../styles/colors';
$mainBlack:rgb(79, 78, 78);
$lightGray:rgb(126, 126, 126);
$borderOrange:rgba(192, 144, 55, 0.204);

.details {
    width: 100%;
    flex-direction: column;
    display: flex;

    .details_headerr_li {
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        color: black;
        font-weight: bold;

        i {
            margin-right: 5px;
            font-size: 12px !important;
        }


    }

    .details_bottom_container {
        &:not(:last-child) {
            border-bottom: 1px solid rgba(128, 137, 150, 0.2) !important;
        }

        padding-top: 5px;

        .details_bottom {
            position: relative;
            display: flex;
            align-items: baseline;

            i {
                font-size: 11px;
                color: $lightGray;

                @media (max-width:450px) {
                    font-size: 10px !important;
                }
            }



            .desc {
                margin: 0;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                font-size: 13px;
                padding-left: 6px;
                font-weight: 500;
                color: $mainBlack;
            }


        }

        .details_bottom_description {
            display: flex;
            letter-spacing: 1px;
            align-items: center;

            @media (max-width:350px) {
                font-size: 11px !important;
            }

            span {
                font-size: 13px;
                font-weight: bold;
                color: $mainBlack;

                &:nth-child(2) {
                    font-size: 13px;
                    color: $lightGray;
                    font-weight: 500;
                }
            }

            i {
                font-size: 5px;
                font-weight: bold;
                color: $mainBlack;

                @media (max-width:450px) {
                    font-size: 4px !important;
                }
            }

            .bottom_main_desc {
                padding-left: 9px;

                @media (max-width:350px) {
                    font-size: 12px;
                }

            }

        }
    }
}