@use "../variables" as *;

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    background-image: none;
    transition: $tr-ease;
    border: none;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 0.4px;
}

.btn_primary {
    color: #fff;
    background-color: $blue-1;
    border-color: darken($blue-1, 2%);

    &:hover {
        background-color: darken($primary, 8%);
    }
}

// .btn_darkPrimary {
//     color: #fff;
//     background-color: $darkPrimary;
//     border-color: darken($darkPrimary, 2%);

//     &:hover {
//         background-color: lighten($darkPrimary, 5%);
//     }
// }

.btn_hover_reverse_primary {
    color: $primary;
    background-color: #fff;
    border-color: darken($primary, 2%);

    &:hover {
        background-color: lighten($primary, 11%);
        color: white;
    }
}

.btn_success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

    &:hover {
        color: #fff;
        background-color: #398439;
        border-color: #255625;
    }
}