@use "../colors"as *;

.form_group {
    margin-top: 3.2rem;
    width: 100%;
    position: relative;
}

.input_animation {
    display: block;
    position: relative;
    top: -10px;
    padding: 5px 8px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid $border_gray;


    font-weight: 500;

    &:focus {
        outline: none;
    }

    &:focus~label {
        top: -24px;
        font-size: 13px !important;
        font-weight: bold;
        color: $yellow !important;
    }

    &:valid~label {
        top: -35px;
        font-size: 12px;
        font-weight: bold;
        color: $gray;
    }

    &:focus~.bar_input {
        &:before {
            width: 50%;
        }

        &:after {
            width: 50%;
        }
    }
}

.animation_input_error_message {
    position: absolute;
    top: -34px;
    font-size: 12px;
    font-weight: 500;
    // font-family: sans-serif;
    right: 0px;
    color: red;
}

.input_animation_label {
    position: absolute;
    top: -22px;
    // left: 5px;
    color: #999;
    font-size: 13px;
    font-weight: normal;
    pointer-events: none;
    transition: all 0.2s ease;
}

.bar_input {
    display: block;
    position: relative;
    width: 100%;

    &:before {
        content: "";
        height: 2px;
        width: 0;
        bottom: 9px;
        position: absolute;
        background: $yellow;
        transition: all 0.2s ease;
        left: 50%;
    }

    &:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 9px;
        position: absolute;
        background: $yellow;
        transition: all 0.2s ease;
        right: 50%;
    }
}