@import '../../styles/colors';

.about_page {
    padding-top: 0px;
    position: relative;
    padding-bottom: 0px;

    &_section {
        position: relative;


        &_container {


            .title {
                font-size: 75px;
                margin: 30px 0;

                @media (max-width: 990px) {
                    font-size: 50px;
                }

                @media (max-width: 678px) {
                    font-size: 32px;
                }
            }

            p {
                margin-bottom: 10px;
                font-size: 17.5px;

                @media (max-width:768px) {
                    margin-bottom: 20px;
                    font-size: 16.5px;

                }

                @media (max-width:450px) {
                    margin-bottom: 20px;
                    font-size: 15.5px;

                }
            }

            .part_one {
                font-size: 17.5px;
            }

            .part_two {
                font-weight: 500;
            }

            .ul_one {
                font-size: 17.5px;
                margin-bottom: 10px;

                @media (max-width:768px) {
                    margin-bottom: 20px;
                    font-size: 16.5px;
                    margin: 0px;
                    padding: 0px;

                }

                @media (max-width:450px) {
                    margin-bottom: 20px;
                    font-size: 12.5px;

                }
            }

            .some {
                margin-top: 15px;
                margin-bottom: 5px;

                @media (max-width:768px) {
                    font-size: 15.5px;
                    text-align: center;
                }

                @media (max-width:450px) {
                    font-size: 13px;
                }
            }

            .p_list {

                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-left: 10px;

                @media (max-width:450px) {
                    font-size: 13px;

                }



                strong {
                    font-weight: 400 !important;
                    display: block;
                }
            }

            .long_ul {
                list-style: disc !important;
                display: flex;
                flex-direction: column;
                gap: 8px;
                font-size: 17.5px;
                margin-bottom: 10px;

                @media (max-width:768px) {
                    margin-bottom: 20px;
                    font-size: 16.5px;
                    margin: 0px;
                    padding: 0px;
                    margin-left: 1.9rem !important;

                }

                @media (max-width:450px) {
                    margin-bottom: 20px;
                    font-size: 12.5px;

                }
            }


        }
    }
}