@import '../../../styles/colors';

.element_section_inside {
    background-color: $bgBlackDark !important;
    min-height: 100px;
    padding-top: 60px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;

    .section_inside {

        margin: 0 var(--window-margin);

        .section_container_inside {
            padding: 0px 15px;

            .boxes {
                display: flex;
                justify-content: space-between;

                @media (max-width:910px) {
                    flex-direction: column;

                }

                .box {
                    margin-bottom: 30px;

                    .text_color {
                        color: $yellow;
                    }

                    .text_white {
                        color: white;
                    }

                    &_one {
                        color: white;

                        .box_desc {
                            @media (max-width:370px) {
                                font-size: 11px;
                                color: $yellow;
                            }
                        }

                        .box_logo {
                            text-transform: uppercase;
                            color: white;
                            font-size: 20px;

                            @media (max-width:370px) {
                                font-size: 13px;
                            }


                        }

                    }

                    h4 {
                        @media (max-width:370px) {
                            font-size: 18px;
                        }
                    }
                }
            }


        }
    }
}