     //!hero section  zoom in out
     .hero_content {
         padding-bottom: 0px;
         margin-top:
             2rem;

         @media (max-width:1200px) {
             display: none;
         }

         .section_heading {
             .section_title {
                 margin: 0px;
                 padding: 0;
                 font-size: 35px;
                 color: white;
                 font-weight: 500;

                 @media (max-width:670px) {
                     font-size: 25px;
                 }

                 .words {
                     display: inline-block;
                     position: relative;
                     text-align: left;
                     width: auto !important;
                     transform: scale(1.25);
                     animation-name: zoomIn;
                     animation-duration: 3.9s;
                     animation-iteration-count: infinite;
                     padding: 10px 0px;
                     font-size: 50px;
                     color: #4d4d4d;

                     @media (max-width: 670px) {
                         font-size: 25px;
                     }

                     .is_hidden {
                         opacity: 0;
                         display: none;
                     }

                     .is_visible_animation_showcase_zoomin {
                         display: block;
                         opacity: 1;
                     }

                 }
             }
         }

     }

     @keyframes zoomIn {
         0% {
             opacity: 0;
             transform: rotateX(130deg);
         }

         10% {
             opacity: 0;
             transform: rotateX(130deg);
         }

         100% {
             transform: scale(1);
             transform: rotateX(0deg);
             opacity: 1;
         }
     }