@import '../../../styles/_colors';

.nav_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 6px solid $yellow3;

    @media (max-width: 990px) {
        background: $bgBlackDark;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        top: 0px;
        width: 1200px;
        height: 46px;
        z-index: 999;
        padding: 0 10px;
        z-index: 99999;

        @media (max-width: 1200px) {
            width: 970px;
        }

        @media (max-width: 990px) {
            background: $bgBlackDark;
            max-width: 750px;
            padding: 0 calc(var(--window-margin) - 20px) 0 var(--window-margin);
            top: 100px;
        }

        @media (max-width: 990px) {
            top: 88px;
        }

        @media (max-width: 750px) {
            max-width: 100%;
        }

        @media (max-width: 1226px) {
            justify-content: space-between;
        }

        .logoDiv {
            cursor: pointer;
            display: none;

            @media (max-width: 990px) {
                display: block;

                a {
                    color: white;
                }
            }
        }

        .ulDiv {
            .ul {
                --padding: 15px;
                --font-size: 16px;
                list-style: none;
                display: flex;
                align-items: center;
                transition: 0.5s ease;
                position: relative;

                // bu sagda bg orange olan icondu
                .fa_icon {
                    font-size: 15px;
                    z-index: 999999999;
                    display: none;

                    @media (max-width: 992px) {
                        display: block;
                        position: absolute;
                        background-color: $darkYellow;
                        padding: 16px;
                        right: 0px;
                        top: 44px;
                        color: white;

                        img {
                            filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
                        }
                    }
                }

                .rotatedIcon {
                    transform: rotate(180deg);
                }

                @media (max-width: 990px) {
                    --height: 0px;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    left: 50%;
                    transform: translate(-50%);
                    top: 45px;
                    height: var(--height);
                    transition: .5s ease-in-out;
                    overflow-y: hidden;
                    max-width: 700px;
                    z-index: -1;
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }

                .li_item {
                    position: relative;
                    display: inline-block;

                    @media (max-width: 992px) {
                        width: 100%;
                        text-align: left;
                        position: relative;

                        &:not(:last-child)::after {
                            content: '';
                            position: absolute;
                            bottom: 0px;
                            width: 100%;
                            left: 0%;
                            right: 0%;
                            height: 1px;
                            background-color: #efefef;
                            ;
                        }
                    }

                    @media (max-width: 650px) {
                        text-align: start;
                    }

                    a {
                        padding: 12px;
                    }

                    &:hover {
                        transition: $transition;
                        background-color: $yellow;

                        a {
                            color: white;
                        }
                    }

                    .item {
                        color: $gray;
                        text-decoration: none;
                        position: relative;
                        text-transform: uppercase;
                        cursor: pointer;
                        display: block;

                        @media (max-width: 992px) {
                            width: 100%;
                            text-transform: capitalize;
                        }
                    }
                }

                //bunu yazdikkki li item uzerine gelen arada boslug galnmasin
                @media (max-width: 990px) {
                    .li_item:hover {
                        &:not(:last-child)::after {
                            content: '';
                            position: absolute;
                            top: -1px;
                            width: 100%;
                            left: 0%;
                            right: 0%;
                            height: 2px;
                            background-color: $yellow;
                            ;
                            transition-delay: .2s;

                        }
                    }
                }

                .active {
                    background-color: #BD5B00;

                    a {
                        color: white !important;

                    }
                }



                .hoverlayItem {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .fa_icon_for_desktop {
                        margin-right: 10px;
                        margin-top: 6px;

                        img {
                            filter: invert(47%) sepia(3%) saturate(6%) hue-rotate(318deg) brightness(94%) contrast(85%);
                        }

                        @media (max-width: 990px) {
                            display: none;
                        }
                    }

                    &:hover {
                        .fa_icon_for_desktop {
                            color: white;

                            img {
                                filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
                            }

                        }
                    }

                    a {
                        padding: 12px;
                    }

                    @media (max-width: 990px) {
                        margin-top: -1px;
                        flex-direction: column;
                        gap: 0px;

                        a {
                            padding-left: 10px;
                            display: block;
                        }

                        .firstItem {
                            display: block;
                        }
                    }

                    .forMobileHover {
                        display: none;

                        @media (max-width: 990px) {
                            position: relative;
                            background-color: transparent;
                            background-color: white;
                            width: 100%;
                            top: 0px;
                            width: 100%;
                            height: 0px;
                            visibility: hidden;
                            transition: $transition;
                            display: block;

                            li {
                                margin-left: 60px;

                                &:not(:last-child)::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0px;
                                    width: 100%;
                                    left: 0%;
                                    right: 0%;
                                    height: 1px;
                                    background-color: #efefef;
                                    ;
                                }

                                @media (max-width: 400px) {
                                    margin-left: 60px;
                                    font-size: 14px;
                                }

                                &:hover {
                                    background-color: $yellow;
                                    transition: $transition;

                                    a {
                                        color: white !important;
                                    }
                                }

                                a {
                                    color: $yellow !important;
                                }
                            }

                            //bunu yazdikkki li item uzerine gelen arada boslug galnmasin
                            @media (max-width: 992px) {
                                li:hover {
                                    &:not(:last-child)::after {
                                        content: '';
                                        position: absolute;
                                        top: -1px;
                                        width: 100%;
                                        left: 0%;
                                        right: 0%;
                                        height: 2px;
                                        background-color: $yellow;
                                        ;
                                    }
                                }
                            }
                        }

                        text-transform: capitalize;

                        li.active {
                            background-color: $yellow;

                            a {
                                color: white !important;
                            }
                        }
                    }

                    //! this is for desktop
                    .hoverUl {
                        position: absolute;
                        background-color: $bgBlackDark;
                        top: 48px;
                        left: -0px;
                        width: 100%;
                        height: 0px;
                        visibility: hidden;
                        opacity: 0;
                        transition: $transition;

                        @media (max-width: 990px) {
                            display: none;
                        }

                        li {
                            padding: 12px 14px 8px 20px !important;
                            text-transform: capitalize;

                            @media (max-width: 990px) {
                                &:hover {
                                    pointer-events: none;
                                }
                            }

                            &:hover {
                                background-color: $yellow;
                                transition: $transition;
                            }

                            a {
                                color: white;
                                padding-left: 0px;
                            }
                        }
                    }

                    &:hover {
                        .hoverUl {
                            height: 194px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .ulActive {
                margin: 0px;
                margin-top: 12px;
                background: white;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 0px calc(var(--window-margin) - 20px) 0 var(--window-margin);
                transition: 0.4s linear;
                min-height: 0px;

                @media (max-width: 990px) {
                    --height: calc((((var(--padding)) + (var(--font-size) * 1.55.5))) * var(--childenNumber));
                    padding: 0px;
                    margin-top: -10px;
                    left: 50%;
                    top: 56px;
                    transform: translate(-50%);
                    opacity: 1;
                    visibility: visible;
                    z-index: 99999;
                    display: flex;
                    align-items: baseline;
                }
            }
        }

        .ulDiv_mobile {
            display: none;

            @media (max-width: 992px) {
                display: block;
            }
        }

        .ulDiv_desktop {
            display: block;

            @media (max-width: 992px) {
                display: none;
            }
        }

        .menu {
            width: 22px;
            height: 16px;
            cursor: pointer;
            display: none;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            margin-right: 20px;
            user-select: none;

            @media (max-width: 992px) {
                display: flex;
            }

            @media (max-width: 450px) {
                margin-right: 15px;
            }

            .line {
                width: 100%;
                height: 2px;
                border-radius: 99px;
                background-color: #d5d5d5;
                transition: background 0.3s ease, transform 0.3s ease;
                transform-origin: left;

                &:nth-child(3) {
                    transform-origin: left;
                }
            }
        }



        .menuActive {
            .line:nth-child(1) {
                transform: rotate(40deg) !important;
            }

            .line:nth-child(3) {
                transform: rotate(-40deg) !important;
            }

            .line:nth-child(2) {
                transform: scale(0) !important;
            }
        }

    }
}