@import '../../../styles/colors';


.item {

    .main_body {
        // display: flex;
        position: relative;
        border-radius: 10px;
        // justify-content: space-between;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        .item_body_left {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            min-width: 0;
            padding-bottom: 10px;
            // border-right: 1px solid rgba(148, 148, 148, 0.338);
            position: relative;



            // flex-basis: 75%;


            .item_main {
                display: flex;
                position: relative;
                justify-content: space-between;



                .main_left {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 16px;
                    min-width: 0;

                    @media (max-width: 370px) {
                        flex: .5 .5 auto;
                    }

                    .left_title {
                        display: flex;
                        align-items: center;
                        font-weight: 600;
                        padding-right: 0.5em;
                        font-size: 16px;
                        overflow: hidden;
                        margin-right: 0.5em;
                        text-overflow: ellipsis;
                        color: rgb(25, 32, 36);

                        @media (max-width: 1250px) {
                            font-size: 11px;
                        }

                        @media (max-width: 1100px) {
                            font-size: 15px;
                        }

                        @media (max-width:820px) {
                            // grid-template-columns: 1fr 1fr;
                            font-size: 11px;
                        }

                        @media (max-width:640px) {
                            font-size: 15px;
                        }

                        i {
                            margin-left: .4rem;
                            font-size: 14px;
                            margin-top: -0.9px;
                            cursor: pointer;
                            color: $mainBlue;
                            z-index: 11;

                            @media (max-width: 820px) {
                                // display: none;
                            }
                        }
                    }

                    .left_subtitle {
                        font-size: 12px;

                        @media (max-width: 1250px) {
                            font-size: 11px;
                        }

                        @media (max-width: 1100px) {
                            font-size: 12px;
                        }

                    }

                    //.icon_details===ul;
                    ul {
                        display: flex;
                        flex: 1 1 auto;
                        align-items: flex-end;
                        font-size: 13px;
                        padding-bottom: 8px;

                        li {
                            display: inline-block;
                            margin-right: 16px;
                            white-space: nowrap;
                            margin-top: 0.5rem;

                            i {
                                display: inline-block;
                                line-height: 0;
                                margin-right: 0.3rem;
                            }
                        }
                    }
                }

                .main_right {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding: 8px 16px;
                    flex: 0 0 auto;
                    justify-content: center;

                    img {
                        margin: 19px 12px 0 0;
                        // width: 170px;
                        width: 200px;

                        @media (max-width: 1400px) {
                            width: 120px;
                        }

                        @media (max-width: 1200px) {
                            width: 120px;

                        }

                        @media (max-width: 1100px) {
                            width: 160px;

                        }

                        @media (max-width: 820px) {
                            width: 120px;
                        }

                        @media (max-width:640px) {
                            width: 200px;
                        }

                        @media (max-width:440px) {
                            width: 150px;
                        }

                        @media (max-width:350px) {
                            width: 118px;
                        }
                    }
                }
            }


            .item_bottom {
                padding-top: 20px;
                padding-left: 16px;
                padding-right: 16px;
                border-top: 1px solid rgba(148, 148, 148, 0.338);
                display: flex;
                justify-content: space-between;


                .first {
                    .uzunad {
                        display: none;
                    }

                    @media (max-width: 1400px) {
                        .uzunad {
                            display: block !important;
                        }
                    }

                    @media (max-width: 1200px) {
                        .uzunad {
                            display: block !important;
                        }
                    }

                    @media (max-width: 1100px) {
                        .uzunad {
                            display: none !important;
                        }
                    }

                    @media (max-width: 820px) {
                        .uzunad {
                            display: block !important;
                        }
                    }

                    @media (max-width:640px) {
                        .uzunad {
                            display: none !important;
                        }
                    }

                    @media (max-width: 380px) {
                        .uzunad {
                            display: block !important;
                            justify-content: flex-start;
                            align-items: center;
                        }
                    }

                    //flex-start
                }

                .second {
                    @media (max-width: 1400px) {
                        .uzunad {
                            display: none !important;
                        }
                    }

                    @media (max-width: 1200px) {
                        display: flex !important;

                        .uzunad {
                            display: none !important;
                        }
                    }

                    @media (max-width: 1100px) {
                        .uzunad {
                            display: flex !important;
                        }
                    }

                    @media (max-width: 820px) {
                        .uzunad {
                            display: none !important;
                        }
                    }

                    @media (max-width: 720px) {
                        .uzunad {
                            display: none !important;
                            justify-content: flex-start;
                            align-items: center;
                        }
                    }

                    @media (max-width:640px) {
                        .uzunad {
                            display: flex !important;
                        }
                    }

                    @media (max-width: 380px) {
                        .uzunad {
                            display: none !important;
                            justify-content: flex-start;
                            align-items: center;
                        }
                    }
                }

                .free_meet {
                    align-items: baseline;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media (max-width: 720px) {
                        justify-content: center;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        color: green;
                        font-weight: 500;

                        @media (max-width: 1500px) {
                            font-size: 11px;
                        }

                        @media (max-width: 820px) {
                            font-size: 10px;

                        }

                        @media (max-width:640px) {
                            font-size: 13px;
                        }

                        @media (max-width:510px) {
                            font-size: 11px;
                        }

                        @media (max-width:410px) {
                            font-size: 10px;
                        }

                        span {

                            margin-right: 0.35rem;
                        }
                    }
                }

                .free_meet_price {
                    text-align: right;
                    align-items: flex-end !important;

                    @media (max-width: 820px) {
                        justify-content: center;
                    }



                    .price {
                        font-size: 25px;
                        padding-bottom: .5rem;
                        color: $black1;

                        .loading_inside_quot {
                            height: 10px !important;
                            border: none !important;
                            padding: 5px 10px !important;
                            line-height: 17px !important;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            background-color: transparent !important;
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;
                            $colors: #7ef9ff,
                                #89cff0,
                                #4682b4,
                                #0f52ba,
                                #000080;

                            .dot {
                                position: relative;
                                width: .11em !important;
                                height: .15em !important;
                                margin: 0.1em;
                                border-radius: 50%;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    background: inherit;
                                    border-radius: inherit;
                                    animation: wave 2s ease-out infinite;
                                }

                                @for $i from 1 through 5 {
                                    &:nth-child(#{$i}) {
                                        background: nth($colors, $i);

                                        &::before {
                                            animation-delay: $i * 0.1s;
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .enjoy_travel {
                        display: none;
                        color: $black1;
                        font-size: 12px;
                        padding-right: 2px;

                        @media (max-width: 820px) {
                            display: block;
                        }

                        @media (max-width: 720px) {
                            font-size: 11px;
                        }
                    }

                    .selectedBtn {
                        background-color: $mainBlue !important;
                        color: white !important;

                        &:hover {
                            background-color: white;
                            color: $mainBlue;
                            border: 1px solid $mainBlue;
                        }

                    }

                    button {
                        letter-spacing: 0.4px;
                        font-size: 15px;
                        padding: 0px 15px;
                        transition: all 0.3s;
                        line-height: 35px;
                        color: $mainBlue;
                        background-color: white;
                        cursor: pointer;
                        border: none;
                        border-radius: 4px;
                        font-weight: 500;
                        position: relative;
                        display: inline-block;
                        border: 1px solid $mainBlue;
                        width: 100%;
                        margin-top: 0.75rem;

                        @media (max-width: 450px) {
                            display: none;
                        }

                        @media (max-width: 820px) {
                            // display: none;
                            line-height: 28px;
                        }

                        &:hover {
                            background-color: $mainBlue;
                            color: white;
                            border: 1px solid white;
                        }

                    }
                }
            }

        }

        .body_outer_right {
            flex-basis: 25%;
            align-self: flex-end;
            padding: 16px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: right;
            padding-top: 8px;

            .outer_price {
                color: $black1;
                font-weight: 600;
                font-size: 20px;
            }

            .enjoy_travel {
                margin-top: 4px;
                display: initial;
                margin-bottom: 12px;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: .3px;
                white-space: normal;
                color: #647582;
            }



            button {
                letter-spacing: 0.4px;
                color: white;
                font-size: 15px;
                padding: 0px 20px;
                line-height: 35px;
                transition: all 0.3s;
                background-color: $mainBlue;
                cursor: pointer;
                border: none;
                border-radius: 4px;
                font-weight: 500;
                position: relative;
                display: inline-block;
                border: 1px solid $mainBlue;
                width: 100%;

                &:hover {
                    background-color: #fff;
                    color: $mainBlue;
                    border: 1px solid $mainBlue;
                }
            }
        }

        .outer_icon i {
            position: absolute;
            top: 16px;
            right: 12px;
        }
    }

    .selectedCard {
        position: relative;

        &::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            content: '';
            background-color: rgba(2, 172, 112, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-weight: bold;



        }

        &:hover {
            &::after {
                background-color: none;
                transition: 0.5s;


            }

        }
    }
}

.forBooking {
    .main_body {
        .item_body_left {
            .item_main {
                .main_right {
                    @media (max-width: 370px) {
                        padding: 0px;
                    }
                }
            }
        }
    }
}