.google-maps-markerwithlabel {
    position: relative;
    transform: translate(0, -50%);
}

.google-maps-markerwithlabel:hover {
    z-index: 12000;
}

.google-maps-markerwithlabel>img {
    width: 64px;
    height: 64px;
}

.google-maps-markerwithlabel>p {
    position: absolute;
    top: 32px;
    left: 60px;
    display: block;
    white-space: nowrap;
    background-color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transform: translate(0, -80%);
}

.google-maps-markerwithlabel>p[d='right'] {
    left: unset;
    right: 60px;
}

.google-maps-markerwithlabel>span {
    position: absolute;
    top: 8px;
    left: 32px;
    transform: translate(-50%);
    color: #000;
    font-weight: 900;
    font-size: 26px;
}