@import '../../../styles/colors';



.passenger_details {
    padding: 15px;
    padding-bottom: 5px;
    transition: .5s ease-in-out;
    animation: animate;
    opacity: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }



    .inp_boxes {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;



        // justify-content: space-between;
        @media (max-width:760px) {
            flex-direction: column;
        }

        .inp_box {
            position: relative;
            flex-basis: 48%;


            @media (max-width: 990px) {
                flex-basis: 48% !important;
            }

            @media (max-width: 768px) {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            .subtitle {
                font-size: 13px;
                color: $lightOrange;
                padding-left: 15px;
                font-weight: 500;
            }


        }
    }

}


.passenger_details_title {
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #51536d;
    font-size: 21px;
    padding-left: 15px;
    padding-top: 1rem;


}