.text_center {
    text-align: center;
}

.text_light {
    // color: $light-color;
}

.text_primary {
    // color: $primary-color;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}



.text_white {
    color: #fff;
}