@import '../../../styles/fonts';
@import '../../../styles/variables';

.hero[islinknamecomponent="true"] {
    padding-bottom: 0px;
    padding-top: 0px;

    @media(max-width:700px) {
        padding-bottom: 30px;
    }
}

.hero[islinknamecomponent="false"] {
    padding-bottom: 0px;

    @media(max-width:1200px) {
        margin-top: 25px;
    }

    @media(max-width:1100px) {
        padding-bottom: 0px;
    }

}

.hero {
    background-position: center top;
    background-size: 100% auto;
    background-color: $light-2;
    width: 100%;
    position: relative;

    &_section {
        padding-top: 30px;

        &_container {
            .points_content {
                .title {
                    color: $dark-1;
                    font-size: 34px;
                    margin-bottom: 0px;
                    margin-left: 3px;
                    display: flex;
                    justify-content: space-between;

                    @media (max-width:768px) {
                        flex-direction: column;
                        align-items: center;
                    }

                    @media (max-width:500px) {
                        font-size: 23px;
                    }
                }

                .main_search {
                    padding: 20px 10px;
                    background-color: white;
                    border-radius: 4px;
                    margin-top: 20px;
                    position: relative;


                    .title_div {
                        display: flex;
                        align-items: center;

                        @media (max-width:990px) {
                            flex-direction: column-reverse;
                            align-items: baseline;
                        }
                    }

                    // radio button component
                    .radio_button_div {
                        user-select: none;
                        cursor: pointer;
                        display: block;

                        input,
                        label {
                            cursor: pointer;
                            margin-left: 6px;
                            color: rgb(115, 115, 115);
                            font-size: 20px;
                            // font-family: $font-jost;
                            text-transform: capitalize;
                        }
                    }

                    .return_journey_title {
                        color: #818181;
                        margin: 59px 0px 24px 4px !important;
                        width: 100%;
                        font-size: 24px;
                        text-transform: capitalize;
                        // font-family: $font-jost;

                        @media(max-width:990px) {
                            margin: 24px 0px 24px 4px !important;
                        }

                    }

                    .tr_journey_title {
                        color: #818181;
                        margin: 9px 0px 24px 4px !important;
                        width: 100%;
                        font-size: 24px;
                        text-transform: capitalize;
                        // font-family: $font-jost;
                    }

                    .points[direction="true"] {
                        p {
                            padding-bottom: 5px !important;
                        }


                    }

                    .points {
                        margin-left: 6px;
                        margin-right: 6px;
                        display: flex;
                        flex-direction: reverse;
                        gap: 1rem;

                        @media (max-width:990px) {

                            flex-direction: column;
                        }

                        .first_column,
                        .second_column {
                            max-width: 316px !important;
                            width: 100%;

                            @media (max-width:990px) {
                                max-width: 100% !important;
                            }

                        }

                        .third_column {
                            max-width: 195px;
                            width: 100%;

                            @media (max-width:1400px) {
                                max-width: 160px;
                            }

                            @media (max-width:990px) {
                                max-width: 100%;
                            }
                        }

                        .fourth_column {
                            max-width: 195px;
                            width: 100%;


                            @media (max-width:1400px) {
                                max-width: 144px !important;
                            }

                            @media (max-width:1300px) {
                                max-width: 130px !important;
                            }

                            @media (max-width:990px) {
                                max-width: 100% !important;
                            }
                        }

                        .fifth_column {
                            div {
                                margin-top: 15px;
                            }

                            @media (max-width:1400px) {
                                max-width: 144px;
                            }

                            @media (max-width:990px) {
                                max-width: 100%;
                            }
                        }

                        //pick up drop of input
                        .search_menu {
                            min-height: 50px;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            user-select: none;

                            @media (max-width:990px) {
                                border-right: none;
                                margin-bottom: 0rem;
                            }

                            &::after {

                                content: "";
                                right: -2px;
                                background-color: #efefef;
                                height: 46px;
                                width: 2px;
                                color: red;
                                top: 19px;
                                position: absolute;

                                @media (max-width:990px) {
                                    display: none !important;
                                }
                            }

                            p {
                                font-size: 15px;
                                font-weight: 500;
                                color: $dark-1;
                                text-transform: capitalize;
                                padding-right: 8px;
                                padding-bottom: 10px;
                            }

                            .input_div {

                                padding-right: 8px;
                                position: relative;

                                @media(max-width:990px) {
                                    padding-right: 0px;
                                    padding-bottom: 4px;

                                }

                                .popup_header[f="false"] {
                                    display: none;
                                }

                                .popup_header[f="true"] {
                                    display: flex;
                                    align-items: center;
                                    // padding-left: 14px;
                                    padding-top: 12px;
                                    padding-bottom: 10px;
                                    padding-left: 3px;

                                    i {
                                        margin-right: 11px;
                                        font-size: 21px;
                                        cursor: pointer;
                                        z-index: 999999999999999;
                                        margin-bottom: 8px;
                                    }

                                    p {
                                        font-size: 19px;
                                        // font-family: $font-jost;
                                        font-weight: 500;
                                        color: #000;
                                    }
                                }

                                //[popupp="false"][direction="false"]
                                //[popupp="false"][direction="true"]
                                //[popupp="true"][direction="false"]
                                //[popupp="true"][direction="true"]
                                .input_delete_field_icon[popupp="false"][direction="false"] {
                                    top: 7px;
                                    font-size: 13px;
                                    color: red;
                                    right: 10px;
                                    position: absolute;
                                    display: inline;
                                    width: 14px;
                                    cursor: pointer;

                                    &:hover {
                                        color: darken(red, 10%);
                                    }
                                }

                                .input_delete_field_icon[popupp="false"][direction="true"] {
                                    position: absolute;
                                    right: 97% !important;
                                    color: red;
                                    right: 5px;
                                    font-size: 12px;
                                    transform: rotate(180deg);
                                    top: 9px;
                                    cursor: pointer;
                                    width: 10px;
                                }

                                .input_delete_field_icon[popupp="true"][direction="true"] {
                                    position: absolute;
                                    left: 23px !important;
                                    color: red;
                                    font-size: 12px;
                                    transform: rotate(180deg);
                                    top: 88px !important;
                                    cursor: pointer;
                                }

                                .input_delete_field_icon[popupp="true"][direction="false"] {
                                    position: absolute;
                                    right: 23px !important;
                                    color: red;
                                    font-size: 12px;
                                    top: 88px;
                                    cursor: pointer;
                                }


                                .error_icon[popupp="false"][direction="false"] {
                                    top: 0px;
                                    font-size: 12px;
                                    color: red;
                                    right: 10px;
                                    position: absolute;
                                    display: inline;
                                    width: 13px;
                                }

                                .error_icon[popupp="false"][direction="true"] {
                                    position: absolute;
                                    right: 287px;
                                    top: 0px;
                                    left: 5px !important;
                                    font-size: 12px;
                                    color: red;

                                    @media(max-width:1450px) {
                                        right: 269px;
                                    }

                                    @media(max-width:1430px) {
                                        right: 249px;
                                    }

                                    @media(max-width:1270px) {
                                        right: 239px;
                                    }

                                    @media(max-width:1240px) {
                                        right: 229px;
                                    }

                                    @media(max-width:1200px) {
                                        right: 179px;
                                    }

                                    @media(max-width:990px) {
                                        width: 100%;
                                        left: 50%;
                                        right: 97%;

                                    }
                                }

                                .error_icon[popupp="true"][direction="true"] {
                                    display: none;
                                }

                                .error_icon[popupp="true"][direction="false"] {
                                    display: none;
                                }

                                input {
                                    border: 0;
                                    outline: none;
                                    width: 100%;
                                    background-color: transparent;
                                    padding: 1px 2px;
                                    outline-offset: -2px;
                                    -webkit-appearance: textfield;
                                    border-bottom: 1px solid $border;

                                    @media (max-width:990px) {
                                        padding: 1px 0px;
                                        border-bottom: none;
                                        border-bottom: 1px solid $border;

                                    }

                                    &::placeholder {
                                        text-transform: capitalize;
                                        color: #5d646d;
                                        font-weight: 300;

                                    }
                                }

                                input[f="true"] {
                                    border: 1px solid #efefef;
                                    border-radius: 4px;
                                    padding: 10px;
                                }

                                input[f="false"] {
                                    padding: 1px 2px;
                                }


                                .loading_div[direction="false"] {
                                    position: absolute;
                                    top: -36px;
                                    right: 72px;

                                    @media(max-width:1300px) {
                                        right: 72px;
                                    }

                                    @media(max-width:990px) {
                                        right: 80px;
                                    }
                                }

                                .loading_div[popupp="false"][direction="true"] {
                                    position: absolute;
                                    top: -38px;
                                    right: 339px;
                                    left: -27px;

                                    @media(max-width:1450px) {
                                        right: 299px;
                                    }

                                    @media(max-width:1270px) {
                                        right: 279px;
                                    }

                                    @media(max-width:1220px) {
                                        right: 259px;
                                    }

                                    @media(max-width:1200px) {
                                        right: 229px;
                                    }

                                    @media(max-width:990px) {
                                        right: 80px;
                                    }
                                }

                                .loading_div[popupp="true"][direction="false"] {
                                    top: 42px !important;
                                    right: 92px !important;
                                    position: absolute;
                                }

                                .loading_div[popupp="true"][direction="true"] {
                                    top: 42px !important;
                                    position: absolute !important;
                                    left: 0px !important;
                                    background-color: red;

                                }

                                input[f="false"].error_input {
                                    border-bottom: 1px solid red !important;
                                }


                            }

                            .add_point_div {
                                display: flex;
                                align-items: center;
                                padding: 2px 7px;
                                margin-bottom: .5rem;
                                transition: .5s linear;

                                .add_point_icon {
                                    font-size: 13px;
                                    margin-right: 0.6rem;
                                    color: #818181;
                                    margin-bottom: 9px;
                                }

                                .add_point_text {
                                    color: #818181;
                                }

                                &:hover {
                                    cursor: pointer;

                                    .add_point_icon {
                                        color: darken(#818181, 25%);
                                    }

                                    .add_point_text {
                                        color: darken(#818181, 25%);
                                    }
                                }
                            }
                        }

                        .hide_mobile {
                            opacity: 0 !important;

                            @media (max-width:990px) {
                                opacity: 1 !important;
                                display: none;
                            }
                        }

                        //2022-12-12
                        .book_input_date {
                            position: relative;

                            .date_div {
                                max-width: 184px;
                                width: 100%;

                                @media(max-width:990px) {
                                    padding-right: 0px;
                                    padding-bottom: 4px;
                                    max-width: 100%;
                                }

                                input[type="date"] {
                                    position: relative;
                                    text-align: left;
                                    min-width: 100%;
                                    max-width: 100%;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    -webkit-border-radius: 0;
                                    -webkit-width: 100%;
                                    min-height: 28px !important;
                                    height: 28px !important;
                                    border: 0px;
                                    border-bottom: 1px solid $border;
                                    outline: none;
                                    padding: 1px 2px;
                                    outline-offset: -2px;
                                    background-color: rgb(255, 255, 255);

                                    @media (max-width:990px) {
                                        padding: 1px 0px;
                                    }

                                    font-weight: 500;
                                    // font-family: $font-jost;
                                    font-size: 15px;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        height: 50%;
                                        border-color: transparent transparent transparent rgba(#5d646d, .5);
                                        border-style: solid;
                                        border-width: 1px;
                                        transform: skewX(-15deg);
                                        top: 6px;
                                        left: 23px;

                                        @media (max-width:768px) {
                                            display: none !important;
                                        }
                                    }

                                    &:after {
                                        content: '';
                                        position: absolute;
                                        height: 50%;
                                        border-color: transparent transparent transparent rgba(#5d646d, .5);
                                        border-style: solid;
                                        border-width: 1px;
                                        transform: skewX(-15deg);
                                        left: 52px;
                                        top: 6px;

                                        @media (max-width:768px) {
                                            display: none !important;
                                        }
                                    }
                                }

                                /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
                                input[type="date"]::-webkit-calendar-picker-indicator {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: auto;
                                    height: auto;
                                    color: transparent;
                                    background: transparent;
                                    user-select: none;
                                    z-index: 1;
                                }

                                /* adjust increase/decrease button */
                                input[type="date"]::-webkit-inner-spin-button {
                                    z-index: 1;
                                }

                                /* adjust clear button */
                                input[type="date"]::-webkit-clear-button {
                                    z-index: 1;
                                }

                                //iphonelarda 2 aralik 2022 ni ortaliyan budur
                                input::-webkit-date-and-time-value {
                                    text-align: left;
                                    text-align: -webkit-left;
                                    display: flex;
                                    align-items: center;
                                    height: 100%;
                                }

                                input[type="date"]::-webkit-datetime-edit,
                                input[type="date"]::-webkit-inner-spin-button,
                                input[type="date"]::-webkit-clear-button {
                                    color: rgb(253, 253, 253);
                                    position: relative;
                                    left: 0px;
                                    text-align: left;
                                }

                                input[type="date"]::-webkit-datetime-edit-year-field {
                                    position: absolute !important;
                                    padding: 0px 7px;
                                    color: rgba(#130b37, 1);
                                    left: 54px;
                                }

                                input[type="date"]::-webkit-datetime-edit-month-field {
                                    position: absolute !important;
                                    padding: 0px 7px;
                                    color: rgba(#130b37, 1);
                                    left: 22px;
                                }


                                input[type="date"]::-webkit-datetime-edit-day-field {
                                    position: absolute !important;
                                    color: rgba(#130b37, 1);
                                    padding: 0px 0px;
                                    left: 0px;

                                }

                                input::-webkit-datetime-edit-day-field:focus,
                                input::-webkit-datetime-edit-month-field:focus,
                                input::-webkit-datetime-edit-year-field:focus {
                                    background-color: rgb(12, 155, 243);
                                    color: white;
                                    outline: none;
                                }

                                // in case if it is arabic language

                                input[type="date"].rtl {
                                    &:before {
                                        left: 95px;

                                        @media(max-width:1250px) {
                                            left: 73px;
                                        }
                                    }

                                    &:after {
                                        left: 67px;

                                        @media(max-width:1250px) {
                                            left: 47px;
                                        }
                                    }
                                }

                                input[type="date"].rtl::-webkit-datetime-edit-year-field {
                                    left: 18px;

                                    @media(max-width:1250px) {
                                        left: 0px;
                                    }
                                }

                                input[type="date"].rtl::-webkit-datetime-edit-month-field {
                                    left: 65px;

                                    @media(max-width:1250px) {
                                        left: 45px;
                                    }
                                }


                                input[type="date"].rtl::-webkit-datetime-edit-day-field {
                                    left: 100px;

                                    @media(max-width:1250px) {
                                        left: 80px;
                                    }
                                }
                            }

                            .date_picker_icon {

                                top: 63px;
                                transform: translateY(-100%);
                                right: 13px;
                                font-size: 14px;
                                user-select: none;
                                color: rgba(#130b37, .7);
                                position: absolute;
                                z-index: 0;

                                @media(max-width:990px) {
                                    right: 5px;

                                }
                            }
                        }


                        .hours_minutes {
                            display: flex;
                            flex-direction: column;

                            .select_time_div {
                                display: flex;
                                color: #5d646d;
                                width: 194px;
                                padding-right: 10px;
                                color: rgba(#130b37, 1);
                                font-weight: 500;

                                @media(max-width:1400px) {
                                    max-width: 150px;
                                    width: 100%;
                                }

                                @media(max-width:990px) {
                                    max-width: 100% !important;
                                }

                                height: 28px;
                                gap: 16px;


                                .booking_form_hour_minute_wrapper {
                                    // max-width: 145px;
                                    width: 100%;
                                    position: relative;
                                    border: 0px;
                                    border-bottom: 1px solid $border;

                                    @media(max-width:990px) {
                                        max-width: 100%;
                                    }

                                    select {
                                        -webkit-appearance: none;
                                        border: none;
                                        width: 100%;
                                        font-size: 15px;
                                        background-color: white;

                                        @media(max-width:990px) {
                                            -webkit-appearance: menulist;
                                        }

                                        &:focus {
                                            outline: 0px !important;
                                        }
                                    }

                                    i {
                                        position: absolute;
                                        right: 7px;
                                        top: 7px;
                                        font-size: 13px;
                                        color: #bbbbbb;
                                        z-index: 0;
                                        pointer-events: none;

                                        @media(max-width:990px) {
                                            display: none;
                                        }
                                    }

                                    .left {
                                        position: absolute;
                                        right: 35px !important;
                                        top: 8px !important;
                                        font-size: 13px;
                                        color: #bbbbbb;
                                        z-index: 0;
                                        pointer-events: none;


                                        @media(max-width:990px) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        .btn_div {
                            margin-top: 17px;

                            button {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
                                text-transform: capitalize;
                                justify-content: center;
                                padding: 15px;
                                border-radius: 4px;
                                background-color: $blue-1;
                                letter-spacing: 0.5px;
                                transition: all 0.5s linear;
                                min-width: 166px;
                                width: 100%;

                                @media(max-width:1400px) {
                                    min-width: 144px;
                                }

                                @media(max-width:990px) {
                                    max-width: 100%;
                                }

                                &:hover {
                                    background-color: darken($blue-1, 15%);
                                }

                                i {
                                    @media (max-width:1400px) {
                                        display: none;
                                    }

                                    @media(max-width:990px) {
                                        display: block;
                                    }
                                }
                            }

                            .waveloadingdiv {
                                min-width: 166px;
                                height: 50px;
                                border-radius: 4px;
                                background-color: $blue-1;
                                cursor: not-allowed;

                                @media(max-width:1400px) {
                                    min-width: 144px;
                                }

                                @media(max-width:990px) {
                                    min-width: 100%;
                                }
                            }
                        }
                    }

                    .points.rtl {
                        flex-direction: row-reverse;
                    }

                    .errorBookedMessage {
                        color: red;
                        padding: 5px 15px;
                    }
                }

            }
        }
    }

    .advertisiment_images_section_islinkname {
        .advertisiment_images_section_container {
            .advertisiment_images {
                margin-top: 3rem;
            }
        }
    }

    .advertisiment_images_section {
        .advertisiment_images_section_container {
            padding-right: 0px;
            margin-top: -20px;
            padding-bottom: 30px;

            @media (max-width:653px) {
                padding-bottom: 0px;
            }

            @media (max-width:424px) {
                padding-left: 0px;
            }

            .advertisiment_images {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width:990px) {
                    flex-wrap: wrap;
                    margin-top: 2rem;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column-reverse;

                    a:nth-child(1) {
                        margin-left: 18px;

                        @media (max-width:767px) {
                            margin-left: 0px;
                        }

                        @media (max-width:672px) {
                            order: 1;
                            margin-left: 40px;

                        }

                        @media (max-width:653px) {
                            margin-left: 20px;
                            margin-top: -30px;
                        }
                    }

                    a:nth-child(2) {
                        @media (max-width:653px) {
                            margin-right: 20px;
                            margin-top: -20px;
                        }
                    }

                    a:nth-child(3) {
                        @media (max-width:653px) {
                            margin-right: 20px;
                            margin-top: -30px;
                        }
                    }
                }

                a {
                    position: relative;

                    .review_trip_advisor {
                        position: relative;
                        width: 330px;
                        height: 141px;

                        @media (max-width:767px) {
                            width: 300px;
                        }

                        @media (max-width:424px) {
                            width: 275px;
                        }

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 990px) {
    .search-input-container[f="true"] {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        overflow: auto;
        background-color: white;
        z-index: 1000;
        padding: 12px !important;
        overflow: hidden;

    }
}