@import '../../../styles/colors';
@import '../../../styles/mixins';

// row for form oneway
.formOneway {
    margin-top: 10px;
    padding: 0px 15px;
    // border: 1px solid red;

    @media (max-width:1200px) {
        @include center-element
    }

    @media (max-width:990px) {
        display: block;
        padding: 0px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;

        @media (max-width:1200px) {
            width: 100%;
            justify-content: space-between;
        }

        @media (max-width:990px) {
            flex-direction: column;
            margin-left: 0px;
        }

        //general col_md
        .col {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

            @media (max-width:1200px) {
                padding: 0px 0px;
            }

            @media (max-width:990px) {
                padding-right: 15px;
                padding-left: 15px;
            }

        }

        .left_points {
            // border: 1px solid rgb(174, 0, 255);
            flex-basis: 58%;
            display: flex;
            gap: 1rem;

            @media (max-width:1200px) {
                flex-basis: 55%;
                ;
            }

            @media (max-width:990px) {
                flex-direction: column;
                gap: 0rem;
            }

            //!pick up or drop of onew way scss
            //!normalda bunu burdan silsende olar cunki o biri terefde komponentin ozunde var

            .pickup_points {
                flex: 1;

                .inp_container {
                    // border: 1px solid blue;
                    flex: 1;
                    position: relative;
                    margin-bottom: 1rem;

                    .input_div {
                        user-select: none;
                        // border: 1px solid red;
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        .input_div_title {
                            display: flex;
                            align-items: center;
                            font-weight: 400;
                            margin-bottom: 5px;

                            i {
                                margin-right: 2px;
                                color: $greenDark;
                                font-weight: bold;
                            }
                        }

                        .input_div_display_box {
                            display: flex;
                            align-items: center;

                            .display_box_text {
                                display: flex;
                                align-items: center;
                                border: 1px solid #ccc;
                                line-height: 28px;
                                box-shadow: none;
                                position: relative;
                                padding: 0 9px 0 8px;
                                // cursor:;
                                color: #888;
                                width: 100%;
                                height: 32px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-decoration: none;
                                justify-content: space-between;
                                transition: $transition;

                                @media (max-width:1200px) {
                                    font-size: 12px;
                                }

                                &:hover {
                                    border: 1px solid rgb(180, 180, 180);
                                    color: black;
                                }

                                .left_icon {
                                    margin-right: 6px;
                                    flex: 0.3;
                                    color: $greenDark;

                                    @media (max-width:990px) {
                                        flex: 0;
                                        font-size: 10px;
                                        margin-right: 4px;
                                    }
                                }

                                .angleup_icon {
                                    flex: 1 1;
                                    display: flex;
                                    justify-content: flex-end;
                                    font-size: 11px;




                                }

                                p {
                                    margin-left: 5px
                                }

                            }

                            .trash_icon {
                                color: $darkYellow;
                                margin-left: 5px;
                                font-size: 13px;
                                width: 30px;
                                cursor: pointer;

                                // z-index: 999;
                                &:hover {
                                    transform: scale(0.99);
                                    color: red;
                                    transition: $transition;
                                }
                            }
                        }





                    }

                    .result_box {
                        position: relative;
                        // background-color: red;

                        .search_box {
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            color: wheat;
                            position: absolute;
                            top: 0px;
                            width: 380px;
                            padding: 4px;
                            z-index: 99999;
                            background-color: white;
                            min-height: 60px;
                            border: 1px solid #b5b5b5;
                            max-height: 200px;
                            overflow-y: scroll;

                            @media (max-width:990px) {
                                width: 100%;
                                top: -28px;
                                height: 95px;
                            }

                            &::-webkit-scrollbar {
                                width: 5px;
                                height: 8px;

                            }

                            &::-webkit-scrollbar-thumb {
                                background: rgb(155, 155, 155);
                            }

                            .search_box_input_div {
                                display: flex;
                                align-items: center;
                                position: relative;

                                overflow: hidden;

                                input {
                                    outline: none;
                                    width: 100%;
                                    border: 2px solid black;
                                    color: black;
                                    padding: 2px 7px;
                                    transition: $transition;

                                    &:focus {
                                        border-radius: 5px;
                                    }
                                }

                                i {
                                    margin-left: -19px;
                                    color: #888;
                                    font-size: 13px;
                                }

                                .loading_div {
                                    right: 0px;
                                    position: absolute;
                                }
                            }

                            .explanation {
                                font-style: italic;
                                display: flex;
                                justify-content: center;
                                color: $black3;
                                padding: 7px 0px;

                                @media (max-width:990px) {
                                    // height: 90px;
                                    margin-top: 0.75rem;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                }

                .add_extrafly_div {
                    display: flex;
                    align-items: center;
                    color: $darkYellow;
                    margin-top: 15px;
                    cursor: pointer;

                    @media (max-width: 990px) {
                        margin-top: 4px;
                        padding-left: 8px;
                        font-size: 12px;
                    }

                    @media (max-width:450px) {
                        padding-left: 6px;
                        font-size: 12px;
                    }

                    .add_extrafly_div_icon {
                        margin-right: 5px;
                        font-weight: bold;
                        font-size: 15px;
                    }

                    .add_extrafly_div_text {}
                }
            }
        }

        //sag teref btn tarix ve saat
        .right_dateTime {
            flex-basis: 42%;
            display: flex;
            gap: 1rem;

            @media (max-width: 1200px) {
                gap: 0rem;
                display: grid;
                grid-template-columns: 1fr 1fr 103px;
            }

            @media (max-width: 990px) {
                flex-direction: column;
                margin-top: -1rem;
                grid-template-columns: 1fr;
            }

            .date {
                max-width: 157px !important;
                width: 100%;

                @media (max-width:1200px) {
                    max-width: 133px !important;

                }

                @media (max-width: 990px) {
                    // padding: 0px 15px;
                    margin-top: 1rem;
                    max-width: 100% !important;
                }
            }

            .time {
                // position: relative;
                // border: 1px solid red;
                // max-width: 148px;
                // width: 100%;
                // padding: 0px 15px;
                max-width: 137px;
                width: 100%;
                padding: 0px 9px;

                @media (max-width: 1200px) {
                    padding: 0px 0px;
                    margin-left: 1.2rem;
                }

                @media (max-width: 990px) {
                    margin-left: 0px;
                }


                .time_title {
                    margin-bottom: 5px;

                    @media (max-width: 990px) {
                        display: none;
                    }

                }

                @media (max-width:1200px) {
                    max-width: 113.72px;

                }

                @media (max-width: 990px) {
                    padding: 0px 0px;
                    max-width: 100%;
                    margin-top: 1rem;
                }

                .departing_time {

                    @media (max-width: 990px) {
                        display: grid;
                        position: relative;
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;

                    }

                }

            }

            .quot_btn_div {
                margin-top: 1.8rem;
                display: inline-flex;
                flex-direction: column;

                @media (max-width: 1200px) {
                    width: 103px;
                }

                @media (max-width: 990px) {
                    display: inline;
                    width: 100%;
                }

                .quot_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center
                }

                .resetForm {
                    display: flex;
                    align-items: baseline;
                    margin-top: 1rem;
                    padding-left: 12px;
                    color: $darkYellow;
                    cursor: pointer;

                    &:hover {
                        i {
                            transform: rotate(180deg);
                            transition: $transition;
                        }
                    }

                    i {
                        margin-right: 5px;



                    }
                }
            }


        }
    }

  
}

.minute {
    // background-color: red;
}