@import '../../../styles/colors';

.form_control {
    width: 100%;
    position: relative;

    @media (max-width: 990px) {
        width: 100%;
        margin-bottom: 1rem;
    }

    //burasi title kismidir error olan yer ust taraf

    .form_control_header {
        display: flex;
        justify-content: space-between;

        .form_control_header_label {
            color: $gray !important;
            font-size: 14px;
            font-weight: 500;
        }

        .form_control_header_error_message {
            color: red;
        }
    }

    .textarea_div {
        position: relative;
        margin-top: 4px;

        .textarea {
            border: 1px solid rgba(128, 137, 150, 0.2);
            border-radius: 5px;
            outline: none;
            resize: none;
            width: 100%;
            padding: 10px 20px 10px 40px;


            &:focus {
                box-shadow: 0 0 10px #fe6b13 !important;

            }
        }

        .error_textarea_border {
            border: 1px solid red;
        }

        .textarea_icon {
            position: absolute;
            top: 16px;
            left: 17px;
            color: #5d646d;
            font-size: 14px;
            z-index: 1;
        }
    }

}

.form_group_textarea {
    margin-top: 4rem;

    label {
        font-size: 15px !important;
    }

    textarea {
        height: 81px !important;
        // padding: 10px 0px !important;
    }

}