@import '../../../styles/variables';
@import '../../../styles/fonts';

.form_input {
    position: relative;
    display: flex;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    width: 100%;

    .form_input_error {
        position: absolute;
        top: -21px;
        color: red !important;
        font-size: 13px;
        font-weight: normal !important;
        text-transform: lowercase !important;
        font-weight: 500 !important;

        &[direction="false"] {
            right: 5px;
        }

        &[direction="true"] {
            left: 5px;
        }
    }

    .label {
        position: absolute;
        pointer-events: none;
        top: 19px;
        font-size: 13px;
        padding: 0px 15px;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        font-family: $font-jost;
        color: $label_text_color;
        text-transform: capitalize;
    }

    .textarea {
        width: 100%;
        min-height: 54px;
        border: 1px solid $border;
        border-radius: 4px;
        padding: 24px 15px 0px 15px;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        resize: none;
        color: $input_text_color;
        font-weight: 500;
        font-size: 14px;

        &:focus,
        &:valid {
            &~label {
                margin-top: -16px;
                transition: all 0.5s ease;
            }
        }

        &:focus {
            outline: none;
        }

        &[err="true"] {
            border-color: red;
        }
    }

    &.isTaxiDeal .textarea {
        border: 5px solid lighten($border, 7%);
    }
}