$mainBlack:#0d233e;
$black3:#5D646D;
$black3_light:#F5F7FC;
$mainBlue:#287dfa;
$bg_light:rgb(245, 247, 252);
$lightBlue: #337ab7;
$black1:#0D233E;



$bgBlackDark:#262626;
$bgBlackDarkLight:#4d4d4d;
$gray:#737373;
$yellow:#ed8323;
$darkYellow:#c96810;
$redAlert:#a94442;
$red:red;
$white:#fff;
$greenPrimary:#5cb85c;
$greenLight:#12d06c;
$greenDark:#3c763d;
$lightOrange:#ffa14c;
$border_gray:rgba(128, 137, 150, 0.2);
//*Transitions
$transition: 0.3s ease-in-out;