@import '../../styles/variables';
@import '../../styles/_fonts';

.terms {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    border: 1px solid $border;
    border-left: 0px;
    border-right: 0px;

    &_section {
        &_container {
            display: flex;

            @media(max-width:990px) {
                flex-direction: column;
            }

            .left {
                padding: 15px;
                width: 25%;

                @media(max-width:1400px) {
                    width: 30%;
                }

                @media(max-width:990px) {
                    width: 100%;
                }

                .link_content {

                    border: 1px solid $border;
                    border-radius: 4px;
                    position: sticky;
                    top: 120px;

                    @media(max-width:990px) {
                        position: relative;
                        top: 0px;
                    }

                    .link_content_item_active {
                        font-weight: 500;
                    }

                    .link_content_item {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 15px;
                        padding-right: 15px;

                        button {
                            padding: 0;
                            margin: 0;
                            border: 0;
                            border-radius: 0;
                            background-color: transparent;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }
            }

            .right {
                padding: 15px;
                width: 75%;

                @media(max-width:1400px) {
                    width: 70%;
                }

                @media(max-width:990px) {
                    width: 100%;
                }

                .right_content {

                    h1 {
                        font-size: 25px;
                        font-weight: 500;
                        margin-bottom: 15px;
                    }

                 


                    .title_description {
                        font-size: 15px;
                        margin-bottom: 2rem;
                    }

                    h2 {
                        font-size: 16px;
                        text-transform: capitalize;
                        font-weight: 500;
                        margin-bottom: 20px;
                        margin-top: 20px;
                    }

                    ul {
                        li {
                            padding-bottom: 5px;
                        }

                        .second_table {
                            max-width: 410px;
                            width: 100%;
                            height: 148px;
                            margin: 2rem auto;

                            th {
                                width: 144;
                                text-align: center;
                            }

                            td {
                                text-align: center;
                            }
                        }
                    }
                }

                .right_content_policy {
                    ul {
                        margin-top: 1rem;

                        li {
                            list-style: inside;
                            margin-left: 1.5rem;
                        }
                    }

                    h2 {}

                    h3,
                    h4,
                    h5 {
                        margin-bottom: .75rem;
                        margin-top: .75rem;
                    }

                    p {
                        a {
                            color: blue;
                        }
                    }

                }
            }

        }
    }
}

.terms[bggray="true"] {
    background-color: $light-2;
}

.terms[bggray="false"] {
    background-color: white !important;
}