.required {

    border: 1px solid red !important;
    // bu projede bu kullanildi ama bunnan sonra kinda duzenliyeceksen
}

.border_required {
    border: 1px solid red !important;
}

.error {
    color: red;
}