@import '../../../styles/_colors';

.uiView {
    margin: 0 var(--window-margin);
    padding-bottom: 40px;

    .container {
        max-width: 1170px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;

        @media (max-width: 992px) {
            max-width: 970px;
            width: 100%;
        }

        @media (max-width: 768px) {
            max-width: 750px;
            width: 100%;
        }

        @media (max-width:450px) {
            padding-left: 0;
            padding-right: 0;
        }

        .features {
            margin-top: 30px;

            .feature_box {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;

                @media (max-width:700px) {
                    grid-template-columns: 1fr !important;
                }

                .thumb {
                    padding-left: 60px;
                    padding-right: 60px;
                    margin-bottom: 20px;
                    text-align: center;

                    @media (max-width: 768px) {
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    .thumb_header {
                        margin-bottom: 15px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;

                        &:hover {
                            color: #000;
                            transition: .5s linear;

                            .thumb_icon {
                                animation: topToBottom linear 1s;
                            }
                        }

                        .thumb_icon {
                            width: 60px;
                            height: 60px;
                            line-height: 60px;
                            font-size: 28px;
                            background-color: #333;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            overflow: hidden;
                            backface-visibility: hidden;

                            img {
                                filter: invert(97%) sepia(3%) saturate(14%) hue-rotate(154deg) brightness(105%) contrast(104%);
                            }

                            &:hover {
                                background-color: #000;

                            }
                        }
                    }

                    .thumb_caption {
                        .thumb_title {
                            margin-bottom: 2px;
                        }
                    }

                }
            }
        }

        .thumb_caption {

            //h2
            .thumb_title {
                font-size: 18px;
                font-weight: 400;
                color: #565656;
            }


        }

        //p
        .thumb_desc {
            margin-bottom: 0;
            margin-top: -6px;
            font-size: 13px;
            color: #4e4d4d;
            line-height: 1.4em;
            margin: 0 0 10px px;
        }

        .main_content {
            margin-top: 1rem;
            padding-left: 60px;
            padding-right: 60px;
            margin-bottom: 30px;

            @media (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;
            }

            @media (max-width:450px) {
                font-size: 13px;
            }


            p {
                margin-bottom: 10px;
                text-align: justify;


                button {
                    background-color: transparent;
                    text-decoration: underline;
                    color: $yellow3;
                    border: 1px solid transparent;
                    margin-left: 10px;
                    font-size: 17px;
                    display: none;

                    @media (max-width:768px) {
                        display: inline;
                        cursor: pointer;
                    }
                }

                &:first-child {
                    font-weight: 700;
                    font-style: italic;
                }

                &:nth-child(2) {
                    font-weight: 600;
                }
            }

            // .content_show {
            //     display: block;

            //     @media (max-width:768px) {
            //         display: none;
            //         opacity: 0;
            //         visibility: hidden;
            //     }
            // }

            // .content_hide {
            //     background-color: blue;

            // }

            .bold {
                font-weight: bold !important;
                font-style: italic;
            }
        }
    }
}