@import './variables';

//* (sonda ozu asagi dusur yox olur
.fade_bottom_to_top_hidden {
    animation: bottom_to_top_hidden;
    opacity: 1;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

//manage bookingde aalert olarag elemisdik
@keyframes bottom_to_top_hidden {
    0% {
        bottom: -40px;
        opacity: 0;
    }

    40% {
        bottom: 25px;
        opacity: 1;
    }

    60% {
        bottom: 25px;
        opacity: 1;
    }

    100% {
        bottom: -40px;
        opacity: 0;
    }
}

.appear {
    opacity: 0;
    animation: 1s appear forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}