//Mixins flex-box
@mixin flex-display($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin flex-display-column($display, $align-items, $justify-content, $flex-direction) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin flex-display-row($display, $align-items, $justify-content, $flex-direction) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}

@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

// bg
@mixin bgRepPosSize($noRepeat, $center, $cover) {
    background-repeat: $noRepeat;
    background-position: $center;
    background-size: $cover;
}


//hide text
@mixin hide-text() {
    position: absolute;
    top: -11111px;
    left: -11111px;
}

.hidden-text {
    @include hide-text;
}

//broder radius
@mixin border-radius($px) {
    border-radius: $px;
}



// media query example

// @mixin media-query($break-point) {
//     @if $break-point==lg {
//         @media (max-width: 1250px) {
//             @content;
//         }
//     }

//     @if $break-point==md {
//         @media (max-width: 900px) {
//             @content;
//         }
//     }

//     @if $break-point==sm {
//         @media (max-width: 600px) {
//             @content;
//         }
//     }
// }

// .container {
//     width: 50%;
//     background-color: pink;
//     height: 50vh;

//     @include media-query(md) {
//         width: 100%;
//     }
// }