@import '../../../styles/variables';

.payment_details {
    padding: 10px 15px;
    max-width: 1070px;
    margin: 0 auto;
    width: 100%;

    @media (max-width:768px) {
        padding: 10px 0px;
    }

    .header[direction="true"] {
        flex-direction: row-reverse;

        @media (max-width:830px) {
            flex-direction: column;
            text-align: center;
        }
    }

    .header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;

        margin-bottom: 1rem;
        gap: 3rem;

        @media(max-width:990px) {
            flex-wrap: wrap;
        }

        @media (max-width:830px) {
            flex-direction: column;
            text-align: center;
        }

        &_top {
            margin-bottom: 16px;
            margin-bottom: 16px;
            max-width: 480px;

            @media (max-width:500px) {
                margin-bottom: 5px;
            }

            &_title {
                color: #0D233E;
                margin-bottom: 0px !important;

                @media (max-width:500px) {
                    font-size: 18px;
                }

                @media (max-width:650px) {
                    margin-bottom: 1.5rem;


                }

                @media (max-width:450px) {
                    margin-bottom: 0rem;
                }
            }

            .header_top_subtitle[direction="true"] {
                flex-direction: row-reverse;

                i {
                    margin-left: 0.5rem;
                    margin-right: 0rem;

                    @media(max-width:990px) {
                        display: none;
                    }
                }
            }

            &_subtitle {
                color: red;
                // padding-top: 16px;
                display: flex;
                align-items: center;

                i {
                    @media(max-width:990px) {
                        display: none;
                    }
                }

                @media (max-width:750px) {
                    font-size: 14px;
                }

                @media (max-width:680px) {
                    font-size: 13px;
                }

                @media (max-width:650px) {
                    padding-top: 0px;
                    font-size: 16px;
                }

                @media (max-width:500px) {
                    font-size: 13px;
                }

                @media (max-width:450px) {
                    font-size: 11px;
                }

                i {
                    color: #8716f9;
                    // margin-right: .3rem;

                    @media (max-width:680px) {
                        margin-right: 0.1rem;
                    }

                    @media (max-width:650px) {
                        // margin-right: 0.5rem;
                    }
                }

                span {
                    color: #8716f9;
                    margin-left: .5rem;
                    cursor: pointer;

                    @media(max-width:990px) {
                        margin-left: 0px;
                    }
                }
            }
        }

        &_tot_price {
            display: flex;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 10px;
            align-items: center;
            text-transform: capitalize;

            &_text {
                font-size: 28px;
                margin-right: 1rem;
                color: gray;
                font-weight: 500;

                @media (max-width:500px) {
                    font-size: 20px;
                }
            }

            &_price {
                color: #0D233E;
                font-weight: bold;
                font-size: 38px;

                @media (max-width:500px) {
                    font-size: 25px;
                }
            }
        }

        .header_tot_price[direction="true"] {
            flex-direction: row-reverse;

            .header_tot_price_text {
                margin-left: 1rem;
                margin-right: 0px;
            }
        }
    }

    .payment_list {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;


        @media (max-width:650px) {
            margin-top: 1rem;
        }

        @media (max-width:500px) {
            margin-top: 0rem;


        }


        .iframe {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            min-height: 650px;
            border: 1px solid rgba(163, 188, 231, 0.385);
        }

        .content_modal {
            background-color: rgba(0, 0, 0, 0.6);
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 9999;
            padding: 20px !important;
            margin: 0px;
            height: 100%;
            width: 100%;
            // animation: zoomout;
            opacity: 1;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-delay: .18s;
            animation-iteration-count: 1;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

            .confirmation_box {
                max-width: 450px;
                width: 100%;
                margin: 0 auto;
                margin-top: 3rem;
                min-height: 180px;
                border: 1px solid $border;
                padding: 10px 0px;
                border-radius: 4px;
                background-color: white;

                .header,
                .body,
                .footer {
                    padding-bottom: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                .header {
                    border-bottom: 1px solid lighten($border, 3%);
                    flex-direction: row;

                    p {
                        font-weight: 500;
                        font-size: 19px;
                        color: black;
                    }

                    i {
                        cursor: pointer;
                        font-size: 19px;
                    }
                }

                .body {
                    border-bottom: 1px solid lighten($border, 3%);

                    p {
                        font-weight: 500;
                    }
                }

                .footer {
                    padding-bottom: 0px;
                    padding-top: 15px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;

                    button {
                        padding: 7px 15px;
                        border-radius: 6px;
                    }
                }
            }
        }

        .appear {
            opacity: 0;
            animation: 1s appear forwards;
        }


        .items_buttons {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 8px;

            @media (max-width:990px) {
                gap: 1rem;
            }

            @media (max-width:870px) {
                flex-direction: column;
            }



            .item {
                letter-spacing: .7px;

                color: #0D233E;
                font-size: 15px;
                padding: 20px;
                transition: all .3s;
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                border-radius: 4px;
                font-weight: 500;
                position: relative;
                display: inline-block;
                border: 1px solid $border;
                width: 100%;
                box-shadow: 0 5px 20px rgba(0, 0, 0, .20);
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                @media (max-width:990px) {
                    padding: 15px;
                }



                &:hover {
                    color: lighten($dark-4, 15%);
                    background-color: #ffffff !important;
                    border-color: lighten($dark-4, 15%) !important;
                    transition: .5s ease;
                    box-shadow: none;
                    transform: scale(0.98);

                }

                p {
                    margin-bottom: 1rem;
                    font-size: 1.2rem;

                    @media (max-width:990px) {
                        font-size: 1rem;
                    }
                }

                img {
                    width: 100px;
                }

            }

            //cash
            .item_1 {
                height: 116px;
                max-width: 300px;
                width: 100%;



                p {
                    @media (max-width:450px) {
                        margin-bottom: 2px;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;

                    @media (max-width:450px) {
                        width: 37px;
                        height: 34px;
                    }

                }

            }

            //paypal
            .item_2 {
                // background-color: green;
                max-width: 300px;
                width: 100%;
                height: 116px;

                img {
                    margin-top: .7rem;
                    width: 90px;
                    object-fit: cover;

                    // padding-top: 0.5rem;
                    @media (max-width:450px) {
                        width: 80px !important;
                    }
                }
            }


            .item_3 {
                max-width: 300px;
                width: 100%;
                height: 116px;

                img {
                    width: 54px;

                    @media (max-width:450px) {
                        width: 45px !important;
                    }
                }
            }

            //pay by card
            .item_4 {
                max-width: 300px;
                width: 100%;
                height: 116px;



                p {
                    @media (max-width:450px) {
                        margin-bottom: 0rem !important;
                    }
                }

                img {
                    // margin-top: -1rem;
                    width: 80px !important;

                    @media (max-width:450px) {
                        width: 75px !important;
                    }
                }
            }
        }
    }

}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomout {
    0% {
        opacity: 0;

        transform: scale(0);

    }

    10% {
        opacity: 0;
        transform: scale(0.5);


    }

    100% {
        opacity: 1;
        transform: scale(1);


    }
}