@import '../../../styles/variables';
@import '../../../styles/_fonts';

.whychoice[bggray="true"] {
    background-color: $light-2 !important;
}

.whychoice[bggray="false"] {
    background-color: white !important;
}

.whychoice {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px;
    border-bottom: 1px solid $border;
    border-left: 0px;
    border-right: 0px;

    &::before {
        position: absolute;
        opacity: 0.2;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-image: url('/images/color-bg.png');
        z-index: -1;
        background-position: center;
    }

    &_section {

        &_container {
            .title {
                text-align: center;

                h1 {
                    font-size: 30px;
                    font-weight: 500;
                }

                p {
                    color: $light-1;
                    margin-top: 10px;
                }

                margin-bottom: 2rem;
            }

            .cards {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 6rem;

                @media(max-width:1500px) {
                    gap: 4rem;
                }

                @media(max-width:1250px) {
                    gap: 2rem;
                }

                @media(max-width:768px) {
                    gap: 2rem;
                }

                .card {
                    text-align: center;
                    max-width: 300px;

                    @media(max-width:1100px) {
                        max-width: 220px;
                    }

                    .card_body {
                        margin-top: 30px;

                        h4 {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        p {
                            font-size: 15px;
                            color: $light-1;
                        }
                    }
                }
            }
        }
    }
}