@import '../../../styles/variables';
@import '../../../styles/_fonts';

.linkname_description_section[bggray="true"] {
    background-color: $light-2;
}

.linkname_description_section[bggray="false"] {
    background-color: white !important;
}

.linkname_description_section {
    height: 100%;
    position: relative;
    padding-top: 4rem;
    margin-top: 0px;
    border: 1px solid $border;
    border-left: 0px;
    border-right: 0px;



    &_section {

        &_container {

            .content {
                max-width: 990px;
                width: 100%;
                margin: 0 auto;

                h2 {
                    color: #051036;
                }

                p {
                    font-size: 18px;
                    padding-bottom: 20px;
                }
            }

        }
    }
}