@import '../../../styles/colors';

.hotelsAirport {
    padding: 100px 0px;
    background-color: $bg_light;

    @media (max-width: 1050px) {
        padding: 50px 0px;
    }

    .hotelsAirport_title {
        text-align: center;
        color: #0d233e;
        font-weight: 700;
        margin: 0px;
        display: block;
        font-size: 32px;

        @media (max-width: 990px) {
            font-size: 30px;
        }

        @media (max-width: 750px) {
            font-size: 19px;
        }


    }

    .container {
        padding: 0 15px;
        margin: 0 var(--window-margin);

        .content {
            padding-top: 50px;
            gap: 30px;
            display: flex;
            flex-wrap: wrap;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            place-items: center;

            @media (max-width: 1340px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            @media (max-width: 1050px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 690px) {
                grid-template-columns: 1fr;
            }

            .card {
                background-color: rgb(255, 255, 255);
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                border-radius: 5px;
                width: 100%;
                max-width: 350px;
                cursor: pointer;
                user-select: none;
                position: relative;

                @media (max-width: 1050px) {
                    max-width: 400px;
                }

                &:hover {
                    transform: scale(1.04);
                    transition: .4s ease;
                }

                &:first-child {
                    margin-left: 12.5px;

                    @media (max-width: 600px) {
                        margin-left: 0px;
                    }
                }

                &:not(:first-child) {
                    margin-left: 25px;
                    // @media (max-width: 600px) {
                    //     margin-left: 0px;
                    // }
                }

                .img_div {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    height: 200px;
                    width: 100%;
                    position: relative;
                }

                .card_desc {
                    padding: 15px 20px;

                    &_title {
                        font-size: 19px;
                        color: #0d233e;
                        margin-bottom: 2px;
                        font-weight: 500;
                        text-align: right;

                        @media (max-width: 1340px) {
                            font-size: 16px;
                        }

                        &:hover {
                            transition: .5s ease-in-out;
                            color: $mainBlue;
                            cursor: pointer;
                        }
                    }

                    &_subtitle {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;



                        .card_detail_btn_box {
                            display: flex;
                            color: $black1;
                            padding-top: 10px;
                            font-size: 15px;
                            padding-top: 0px;


                            &:hover {
                                transition: .5s ease-in-out;
                                color: $mainBlue;
                                cursor: pointer;
                            }

                            .detail_btn {
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                            }


                        }
                    }
                }
            }
        }
    }
}