@import '../../../styles/variables';
@import '../../../styles/_fonts';

.footer[bggray="true"] {
    background-color: $light-2;
}

.footer[bggray="false"] {
    background-color: white !important;
}

.footer {
    height: 100%;
    position: relative;
    margin-top: 0px;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 30px !important;

    &_section {

        &_container {
            .content {
                display: flex;
                width: 100%;
                display: flex;
                justify-content: space-between;

                @media(max-width:1250px) {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr;
                    grid-row-gap: 3rem;
                    align-content: space-between;

                }

                @media(max-width:990px) {
                    grid-template-columns: 2fr 1fr;
                }

                @media(max-width:768px) {
                    grid-template-columns: 1fr;
                    align-content: center;
                    gap: 1rem;
                }

                .column {
                    h3 {
                        font-weight: 500;
                        font-size: 22px;
                        color: $dark-1;
                        margin-bottom: 15px;

                        @media(max-width:1250px) {
                            margin-bottom: 10px;
                        }

                        @media(max-width:768px) {
                            margin-bottom: 10px;
                        }
                    }

                    .list_items {
                        flex-direction: column;
                        display: flex;

                        li {
                            padding: 5px 0px;

                            a {
                                color: $dark-1;
                                font-size: 16px;
                                transition: $tr-cubic;
                                text-transform: capitalize;
                                font-weight: 500;

                                &:hover {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }

                .last_column {
                    .description {
                        margin-top: 10px;

                        @media(max-width:1250px) {
                            margin-top: 10px;
                        }

                        p {
                            color: $dark-1;
                        }

                        a {
                            font-weight: 500;
                            color: $dark-1;
                            font-size: 19px;
                        }
                    }
                }

                .first_column {
                    max-width: 350px;

                    .logo {
                        margin-bottom: 15px;
                        display: flex;

                        @media(max-width:1250px) {
                            margin-bottom: 10px;
                        }

                        @media(max-width:768px) {
                            margin-bottom: 10px;
                        }
                    }

                    p {
                        color: $black-1;
                        font-size: 16px;
                        font-weight: 500;
                        word-break: break-word;
                        line-height: 30px;

                        span {
                            color: $primary;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }
            }

            .subcontent {
                border-top: 1px solid $border;
                padding-top: 30px;
                display: flex;
                justify-content: space-between;

                @media(max-width:990px) {
                    gap: 1rem;
                    flex-direction: column-reverse;
                }

                .subcontent_left {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    @media(max-width:990px) {
                        gap: 1rem;
                        flex-direction: column-reverse;
                    }

                    .copyright {
                        font-weight: 500;

                        @media(max-width:530px) {
                            font-size: 14px;

                        }
                    }

                    .lists {
                        display: flex;
                        gap: 16px;

                        a {
                            transition: $tr-cubic;
                            text-transform: capitalize;
                        }

                        a:hover {
                            color: $primary;
                        }
                    }
                }

                .subcontent_right {
                    .icons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.7rem;
                    }
                }
            }
        }
    }
}