@import '../../../styles/colors';

.item {
    margin-bottom: 15px;
    position: relative;

    .booking_item_active {
        border: 1px solid $greenPrimary !important;
        -webkit-box-shadow: 0 2px 1px rgb(0 0 0 / 20%);
        box-shadow: 0 2px 1pxrgba(0, 0, 0, .2);
        background: #e6e6e6;

        .second_column {
            .vehicle_icon_list {

                .vehicle_icon_item {
                    i {
                        color: $greenPrimary !important;
                    }
                }
            }
        }

        .mobile {
            .top {
                .top_left {
                    &_price_div {

                        background-color: $greenPrimary !important;
                        color: white;

                        &_per {
                            text-transform: uppercase;
                        }

                        &_price {
                            font-size: 25px;
                        }

                        &_per_vehicle {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }

                .top_right {


                    &_icons_details {
                        display: flex;
                        flex-direction: column;
                        gap: 1.2rem;
                        height: 100%;
                        justify-content: center;

                        li {
                            i {
                                font-size: 16px;
                                color: $greenPrimary !important;
                            }

                            span {
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }


        }

        .first_column {
            .info_modal_desktop {
                color: rgb(81, 165, 81);
            }
        }

        .info_modal_mobile {
            color: rgb(81, 165, 81);
        }


    }

    .booking_item {
        cursor: pointer;
        display: block;
        padding: 9px;
        border: 1px solid #e6e6e6;
        color: $gray;
        transition: .2s linear;
        justify-content: space-around;

        @media (max-width:450px) {
            justify-content: start;
            padding: 25px 15px;

        }

        @media (max-width:370px) {
            padding: 25px 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: none;
        }

        &:hover {
            background: #e6e6e6;
            border: 1px solid $yellow;
        }

        display: flex;
        gap: 1.5rem;

        .first_column {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width:990px) {
                flex-basis: 40%;
            }

            @media (max-width:450px) {
                display: none;
            }

            img {
                width: 85%;

                @media (max-width:990px) {
                    width: 90%;
                }

                @media(max-width:450px) {
                    width: 75%;
                }
            }

            span {
                display: block;
                text-align: center;
                margin-top: 7px;
                font-size: 15px;
                line-height: 1em;
                margin-bottom: 0;

                @media (max-width:990px) {
                    color: #000;
                    font-weight: bold;
                }

                @media (max-width:592px) {
                    text-align: left;
                    width: 100%;
                    margin-left: 2rem;
                    font-size: 21px;
                    margin-top: 1rem;
                }

                @media(max-width:450px) {
                    display: none;
                }
            }

            .car_title {
                font-weight: bold;
                color: black;
            }

            .third_column {
                display: none;

                @media (max-width:990px) {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.75rem;
                    width: 100%;
                    padding-left: 1.5rem;

                    .third_column_first,
                    .third_column_second {
                        ul {
                            li {
                                flex-direction: row;

                                i {
                                    font-size: 11px;
                                    padding: 6px;
                                    margin-right: 5px;
                                }

                                span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

                @media (max-width:592px) {
                    display: none;
                }

            }

            .info_modal_desktop {
                @media (max-width:592px) {
                    display: none;
                }
            }
        }

        .second_column {
            flex-basis: 20%;

            @media (max-width:990px) {
                flex-basis: 30%;
                align-items: center;
                display: flex;
                justify-content: center;
            }

            @media (max-width:592px) {
                display: none;
            }

            .vehicle_icon_list {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .vehicle_icon_item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    i {
                        font-size: 15px;
                        color: $yellow;
                        flex-basis: 30px;
                    }

                    .icon_explain {
                        font-size: 17px;

                        @media (max-width:990px) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .third_column {
            flex-basis: 20%;
            display: flex;

            @media (max-width:990px) {
                display: none;
            }


            .third_column_first,
            .third_column_second {
                ul {
                    li {
                        position: relative;
                        margin-right: 7px;
                        margin-bottom: 7px;
                        text-align: center !important;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        div {
                            i {
                                color: white;
                                z-index: 1111;
                                background-color: rgb(77, 77, 77);
                                padding: 8px 10px;
                                font-size: 15px;
                                border-radius: 4px;
                            }
                        }

                        span {
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .fourth_column {
            flex-basis: 20%;

            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width:990px) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @media (max-width:592px) {
                display: flex;
                flex-basis: 70%;
                flex-direction: row;
            }


            @media(max-width:450px) {
                display: none;
            }

            .price_div {


                .book_price {
                    font-size: 40px;
                    color: #626262;
                    line-height: 1em;
                    display: inline-block;
                    margin-bottom: 12px;

                    @media (max-width:990px) {
                        font-size: 35px;
                    }

                    @media (max-width:592px) {
                        color: black;
                        font-size: 25px;
                    }

                }

                .per_vehicle {
                    display: block;

                    @media (max-width:990px) {
                        text-align: right;
                    }
                }

                .select_btn_div {
                    @media (max-width:990px) {
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }

            .third_column {
                display: none;

                @media (max-width:592px) {
                    display: flex;
                    margin-right: 1rem;
                    flex-direction: column;
                    flex: 1;

                    .third_column_first,
                    .third_column_second {

                        ul {

                            li {
                                display: flex;
                                flex-direction: row;

                                i {
                                    font-size: 10px;
                                    padding: 6px;
                                    margin-right: 5px;
                                }

                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }

            }
        }

        .mobile {
            width: 100%;
            display: none;

            @media (max-width:450px) {
                display: block;


            }

            .top {
                display: flex;
                padding-left: 1rem;
                padding-right: 1rem;
                justify-content: space-between;

                .top_left {
                    &_car_name {
                        font-size: 1.3rem;
                        color: black;
                        font-weight: bold;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        margin-bottom: 5px;
                    }

                    &_car_type {
                        font-size: 1.1rem;
                        color: #000;
                        font-weight: bold;

                        span {
                            font-weight: 500;
                        }

                        @media (max-width:370px) {
                            font-size: 0.95rem;
                        }
                    }

                    &_enjoy_travel {
                        font-family: 'Gill Sans',
                            'Gill Sans MT',
                            Calibri,
                            'Trebuchet MS',
                            sans-serif;
                        font-weight: bold;
                        color: #000;
                        display: none;
                    }

                    &_price_div {
                        margin-top: 1rem;
                        background-color: #ffa14c;
                        color: white;
                        font-weight: bold;
                        padding: 4px 10px;
                        position: relative;
                        border-radius: 2px;
                        width: 150px;

                        &_per {
                            text-transform: uppercase;
                        }

                        &_price {
                            font-size: 25px;
                        }

                        &_per_vehicle {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }

                .top_right {


                    &_icons_details {
                        display: flex;
                        flex-direction: column;
                        gap: 1.2rem;
                        height: 100%;
                        justify-content: center;

                        li {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            justify-items: center;
                            align-items: center;

                            i {
                                font-size: 16px;
                                color: #ffa14c;
                                color: $yellow;
                            }

                            span {
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .bottom {
                margin-top: 1.2rem;
                display: flex;
                align-items: center;

                img {
                    max-width: 100%;
                    display: block;
                }
            }
        }

        .info_modal_mobile {
            position: absolute;
            left: 86px;
            top: 76px;
            font-size: 14px;
        }

        //! design which belong to mobile
    }

    .line {
        position: absolute;
        content: '';
        height: 1px;
        left: 0px;
        right: 0px;
        width: 100%;
        background-color: #ccc;
        bottom: 65px;
        display: none;

        @media (max-width:450px) {
            display: block;
        }
    }

}