@import '../../../styles/colors';

.booking_summary {
    // background-color: $yellow;
    color: #000000;
    font-weight: bold;
    flex: 1;


    &_list {
        position: relative;
        padding: 1rem;
        // margin: 1R1rem;
        list-style: none;
        font-size: 1.1rem;
        margin-bottom: 0px !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        .duration {
            margin-bottom: 1rem;
        }

        &_item {
            margin-bottom: 5px;
            // border-bottom: 1px solid #000;

            h5 {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.2;
                // color: #000000;
                color: $lightOrange;

                margin-bottom: 0px;
                // background-color: red;

                span {
                    font-size: 15px;
                    color: black;

                }
            }

            div {
                .fromto {
                    border-bottom: 1px solid dotted;
                }
            }

            p {
                // background-color: yellow;
            }
            li{
                list-style: disc;
                margin-left: 17px;
            }

            .space {
                margin: 5px 0px;
            }
        }
    }

    &_list_two {
        // padding: 0rem 1rem;
        padding-bottom: 10px;
        padding-left: 1rem;
        padding-right: 1rem;

        .booking_summary_list_item {
            margin-bottom: 0px !important;
            // background-color: silver;
            //    background-color: #efefef;s
            padding: 5px 8px;

            h5 {
                margin-bottom: 0px !important;
                display: flex;
                align-items: center;
                color: #0a6f30;
            }

            &:not(:last-child) {
                // margin-bottom: 1rem;
            }
        }
    }

}