      @import '../../../styles/variables';
      @import '../../../styles/fonts';

      .select_wrapper {
          display: flex;
          align-items: center;
          position: relative;
          width: 100%;

          //*   when it is  arabic
          .select[direction="true"][err="true"] {
              border-color: red;
          }

          .info_icon[direction="true"] {
              display: flex;
              align-items: center;
              justify-content: center;
              left: 5px;
              top: 4px;
              color: $primary;
              cursor: pointer;
              display: none;
              margin-right: 7px;

              @media (max-width: 990px) {
                  display: block;
              }
          }


          .select[direction="true"] {
              position: relative;
              display: block;
              border: 1px solid $border;
              border-radius: 4px;
              display: flex;
              align-items: center;
              width: 100%;
              background-color: white;

              &::after {
                  content: "▼";
                  position: absolute;
                  left: 0.65rem;
                  top: 1rem;
                  font-size: 11px;
                  transition: 300ms transform 200ms;

                  @media (max-width: 390px) {
                      top: 1.2rem;
                  }
              }

              .select[err="true"] {
                  border-color: red;
              }

              .select:active::after {
                  transform: rotate(-180deg);
              }

              .select__field[direction="true"] {
                  display: block;
                  opacity: 1;
                  width: 100%;
                  box-sizing: border-box;
                  border: 0;
                  padding: 16px 10px 0px 11px;
                  -webkit-padding: 16px 10px 0px 11px !important;
                  -webkit-padding: 16px 10px 0px 11px !important;
                  border-radius: 4px;
                  transition-delay: 0ms;
                  will-change: color;
                  transition: 200ms color linear;
                  min-height: 52px;
                  font-size: 14px;
                  font-weight: 500;
                  //   font-family: $font-jost;
                  color: $input_text_color;
                  appearance: none;
                  background-color: white;
                  text-transform: capitalize;

                  @media (max-width: 520px) {
                      font-size: 13px;
                  }

                  &:invalid {
                      //   color: transparent;
                      transition: 200ms color linear 100ms;
                  }

                  &:valid+.select__label,
                  &:focus:valid+.select__label {
                      transition: 200ms transform ease-out;
                      color: $label_text_color;
                  }

                  &:focus {
                      outline: none;
                  }
              }

              .select__field[direction="false"] {
                  display: block;
                  opacity: 1;
                  width: 100%;
                  box-sizing: border-box;
                  border: 0;
                  padding: 15px 26px 0px 14px;
                  -webkit-padding: 15px 26px 0px 14px !important;
                  -webkit-padding: 15px 26px 0px 14px !important;
                  border-radius: 4px;
                  transition-delay: 0ms;
                  will-change: color;
                  transition: 200ms color linear;
                  min-height: 52px;
                  font-size: 14px;
                  font-weight: 500;
                  //   font-family: $font-jost;
                  color: $input_text_color;
                  appearance: none;
                  background-color: white;
                  text-transform: capitalize;

                  @media (max-width: 520px) {
                      font-size: 13px;
                  }

                  &:invalid {
                      //   color: transparent;
                      transition: 200ms color linear 100ms;
                  }

                  &:valid+.select__label,
                  &:focus:valid+.select__label {
                      transition: 200ms transform ease-out;
                      color: $label_text_color;
                  }

                  &:focus {
                      outline: none;
                  }
              }

              .flightinfo_div {
                  border-radius: 0px;
                  position: absolute;
                  width: 650px;
                  padding: 0px 0px 14px;
                  top: -210px;
                  left: -652.5px;
                  z-index: 6000;
                  border: 3px solid $primary;
                  border-radius: 4px;
                  background-color: #fff;
                  padding: 5px;

                  display: none;


                  &::after {
                      content: " ";
                      right: -3px;
                      position: absolute;
                      border: 9px solid $primary;
                      border-bottom-color: transparent;
                      border-left-color: transparent;
                      bottom: -18px;
                  }

                  p {
                      font-size: 14px;
                      //   font-family: $font-jost;
                      font-weight: 400;
                      margin-bottom: 10px;

                      .primary_text {
                          font-weight: 500;
                          color: $primary;
                          //   font-family: $font-jost;
                      }
                  }

              }

              &:hover {
                  .flightinfo_div {
                      display: block;

                      @media (max-width: 990px) {
                          display: none;
                          //   top: -332px;
                          //   right: -238.5px;
                      }

                      //   @media (max-width: 540px) {
                      //       display: none;

                      //   }
                  }

              }

              .select__label {
                  position: absolute;
                  left: 13px;
                  top: 0px;
                  right: 0;
                  pointer-events: none;
                  transform-origin: 0 0;
                  transition: 200ms transform ease-out 200ms;
                  will-change: transform;
                  font-size: 13px !important;
                  font-weight: normal !important;
                  //   font-family: $font-jost;
                  color: rgba(98, 102, 108, 0.8431372549);
                  display: flex;
                  align-items: center;
                  z-index: 1000;
                  cursor: pointer;
                  text-transform: capitalize;

                  @media (max-width: 400px) {
                      font-size: 13px !important;
                  }

                  @media (max-width: 352px) {
                      font-size: 12px !important;
                  }
              }

              .select__label[direction="true"] {
                  right: 14px;
              }

              .form_input_error {
                  text-transform: lowercase !important;
                  position: absolute;
                  left: 5px;
                  color: red !important;
                  top: -21px;
                  font-size: 13px;
              }
          }

          .select[direction="false"] {
              position: relative;
              display: block;
              border: 1px solid $border;
              border-radius: 4px;
              display: flex;
              align-items: center;
              width: 100%;
              background-color: white;

              &::after {
                  content: "▼";
                  position: absolute;
                  right: 0.65rem;
                  top: 1rem;
                  font-size: 11px;
                  transition: 300ms transform 200ms;

                  @media (max-width: 390px) {
                      top: 1.2rem;
                  }
              }


              .select:active::after {
                  transform: rotate(-180deg);
              }

              .select__field[direction="true"] {
                  display: block;
                  opacity: 1;
                  width: 100%;
                  box-sizing: border-box;
                  border: 0;
                  padding: 16px 10px 0px 11px;
                  -webkit-padding: 16px 10px 0px 11px !important;
                  -webkit-padding: 16px 10px 0px 11px !important;
                  border-radius: 4px;
                  transition-delay: 0ms;
                  will-change: color;
                  transition: 200ms color linear;
                  min-height: 52px;
                  font-size: 14px;
                  font-weight: 500;
                  //   font-family: $font-jost;
                  color: $input_text_color;
                  appearance: none;
                  background-color: white;
                  text-transform: capitalize;

                  @media (max-width: 520px) {
                      font-size: 13px;
                  }

                  &:invalid {
                      //   color: transparent;
                      transition: 200ms color linear 100ms;
                  }

                  &:valid+.select__label,
                  &:focus:valid+.select__label {
                      transition: 200ms transform ease-out;
                      color: $label_text_color ;
                  }

                  &:focus {
                      outline: none;
                  }
              }

              .select__field[direction="false"] {
                  display: block;
                  opacity: 1;
                  width: 100%;
                  box-sizing: border-box;
                  border: 0;
                  padding: 15px 26px 0px 14px;
                  -webkit-padding: 15px 26px 0px 14px !important;
                  -webkit-padding: 15px 26px 0px 14px !important;
                  border-radius: 4px;
                  transition-delay: 0ms;
                  will-change: color;
                  transition: 200ms color linear;
                  min-height: 52px;
                  font-size: 14px;
                  font-weight: 500;
                  //   font-family: $font-jost;
                  color: $input_text_color;
                  appearance: none;
                  background-color: white;
                  text-transform: capitalize;

                  @media (max-width: 520px) {
                      font-size: 13px;
                  }

                  &:invalid {
                      //   color: transparent;
                      transition: 200ms color linear 100ms;
                      background-color: #ffffff;
                  }

                  &:valid+.select__label,
                  &:focus:valid+.select__label {
                      transition: 200ms transform ease-out;
                      color: $label_text_color;
                  }

                  &:focus {
                      outline: none;
                  }
              }

              .flightinfo_div {
                  background-color: red;
                  border-radius: 0px;
                  position: absolute;
                  width: 650px;
                  padding: 0px 0px 14px;
                  top: -300px;
                  right: -652.5px;
                  z-index: 6000;
                  border: 3px solid $primary;
                  border-radius: 4px;
                  background-color: #fff;
                  padding: 5px;

                  display: none;

                  &::after {
                      content: " ";
                      left: -3px;
                      position: absolute;
                      border: 9px solid $primary;
                      border-bottom-color: transparent;
                      border-right-color: transparent;
                      bottom: -18px;
                  }

                  p {
                      font-size: 14px;
                      //   font-family: $font-jost;
                      font-weight: 400;
                      margin-bottom: 10px;

                      .primary_text {
                          font-weight: 500;
                          color: $primary;
                          //   font-family: $font-jost;
                      }
                  }

              }

              &:hover {
                  .flightinfo_div {
                      display: block;

                      @media (max-width: 990px) {
                          display: none;
                          //   top: -332px;
                          //   right: -238.5px;
                      }

                      //   @media (max-width: 540px) {
                      //       display: none;

                      //   }
                  }

              }

              .select__label {
                  position: absolute;
                  left: 13px;
                  top: 0px;
                  right: 0;
                  pointer-events: none;
                  transform-origin: 0 0;
                  transition: 200ms transform ease-out 200ms;
                  will-change: transform;
                  font-size: 13px !important;
                  font-weight: normal !important;
                  //   font-family: $font-jost;
                  color: $label_text_color;
                  display: flex;
                  align-items: center;
                  z-index: 1000;
                  cursor: pointer;
                  text-transform: capitalize;

                  @media (max-width: 400px) {
                      font-size: 13px !important;
                  }

                  @media (max-width: 352px) {
                      font-size: 12px !important;
                  }
              }

              .select__label[direction="true"] {
                  right: 14px;
              }

              .form_input_error {
                  position: absolute;
                  right: 5px;
                  color: red !important;
                  text-transform: lowercase !important;
                  top: -21px;
                  font-size: 13px;
              }
          }


          //* when it is not arabic
          .select[direction="false"][err="true"] {
              border-color: red;
          }

          .info_icon[direction="false"] {
              display: flex;
              align-items: center;
              justify-content: center;
              color: #13357b;
              margin-left: 7px;
              cursor: pointer;
              display: none;

              @media (max-width: 990px) {
                  display: block;
              }
          }

          .istaxideal_info_icon[direction="false"] {
              display: block !important;

          }

          .istaxideal_info_icon[direction="true"] {
              display: block !important;

          }

      }