@import '../../styles/fonts';
@import '../../styles/variables';

.details {
    width: 100%;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 12px 0px;

    .details_bottom_container {

        // margin-bottom: 20px;
        .details_header_div[direction="true"] {
            flex-direction: row-reverse;

            .left {
                text-align: right;
            }

            .point_adress {
                text-align: left;
            }
        }

        .details_header_div {
            font-family: $font-jost;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                color: $dark-1;
                font-weight: 400;
                flex: 1;

                @media (max-width:490px) {
                    flex: 0.3;
                    font-size: 15px;
                }
            }

            .point_adress {
                color: $primary;
                font-weight: 500;
                font-size: 17px;
                flex: 1;
                text-align: right;

                @media(max-width:490px) {
                    font-size: 13px;
                }
            }
        }

        .details_bottom_description[direction="true"] {
            display: flex;
            flex-direction: row-reverse;

            .bottom_main_desc {
                flex-direction: row-reverse;

                span:nth-child(1) {
                    padding-left: 8px;
                }

                span {
                    &:nth-child(2) {
                        text-decoration: underline;
                        margin-left: 0px;
                    }
                }
            }

            .postcodes {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .details_bottom_description {
            display: flex;
            letter-spacing: 1px;
            font-size: 14px;
            color: $light-1;
            font-family: $font-jost;
            font-weight: 500;
            align-items: center;
            justify-content: flex-end;
            span {
                &:nth-child(2) {
                    text-decoration: underline;
                }
            }

            i {
                font-size: 4px;
                font-weight: bold;
                color: rgb(3, 3, 3);
            }

            .bottom_main_desc {
                padding-left: 6px;
                text-transform: capitalize;
                display: flex;

                span {
                    &:nth-child(2) {
                        text-decoration: underline;
                        margin-left: 6px;
                    }
                }

                @media(max-width:490px) {
                    font-size: 12px;
                }
            }

            .postcodes {
                flex-direction: column;
                align-items: flex-end;
            }

        }
    }
}