@import "../../styles/variables";
@import "../../styles/fonts";

.page {
    position: relative;
    padding-top: 2px;

    @media (max-width: 990px) {
        padding-top: 30px;
    }

    .descriptions {
        background-color: $light-2;
        padding: 10px 0px;
    }

    &_section {
        @media (max-width: 1410px) {
            margin: 0 25px !important;
        }

        @media (max-width: 450px) {
            margin: 0 10px !important;
        }

        &_container {

            display: flex;
            gap: 80px;
            padding: 0px;

            @media (max-width: 1500px) {
                padding: 0px !important;
            }

            .left_content {
                flex-basis: 77%;
                display: flex;
                flex-direction: column;

                @media (max-width: 1000px) {
                    flex-basis: 100%;
                }

                .title_div_mobile {
                    display: none;

                    @media (max-width: 768px) {
                        display: block;
                    }

                    h1 {
                        font-family: $font-jost;
                        font-weight: 500;
                        font-size: 30px;
                        margin-top: 1.5rem;

                        @media (max-width:480px) {
                            font-size: 26px;
                        }

                        @media (max-width:450px) {
                            font-size: 22px;
                        }
                    }

                    .title_div_description {
                        padding-top: 1rem;

                        @media (max-width:450px) {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 1rem;
                        }

                        a {
                            i {
                                color: $yellow1;
                                padding: 0px 2.5px;
                                font-size: 10px;
                            }

                            span {
                                margin-left: 10px;
                                font-size: 14px;
                                font-family: $font-jost;
                                color: $gray-3;
                                font-weight: 500;
                            }
                        }

                        span {
                            margin-left: 1rem;
                            color: #697488;
                            font-size: 15px;
                            font-family: $font-jost;

                            @media (max-width:450px) {
                                margin-left: 0px;
                            }

                            i {
                                margin-right: 10px;
                            }
                        }
                    }

                }



                .images {
                    @media (max-width: 700px) {
                        display: none;
                    }

                    .images_content {
                        display: grid;
                        grid-template-columns: 0.6fr 0.2fr 0.2fr;
                        grid-template-rows: 0.4fr 0.6fr;
                        gap: 10px;

                        .gallery_grid {
                            position: relative;

                            .container_auto_center {

                                .intro {
                                    position: absolute;
                                    color: white;
                                    width: 98%;
                                    bottom: 20px;
                                    display: flex;
                                    justify-content: flex-end;
                                    right: 20px;

                                    @media (max-width: 550px) {
                                        right: 10px;
                                        bottom: 10px;
                                    }

                                    button {
                                        background-color: white;
                                        color: black;
                                        font-weight: 500;
                                        padding: 15px 24px;
                                        border-radius: 5px;

                                        @media (max-width: 550px) {
                                            padding: 10px 15px;
                                            font-size: 12px;
                                        }

                                        &:hover {
                                            background-color: $blue-1;
                                            color: white;
                                            transition: 0.25s ease;
                                        }
                                    }
                                }
                            }
                        }

                        .gallery_grid img {
                            width: 100%;
                            height: 100%;
                            -o-object-fit: cover;
                            border-radius: 4px;
                            object-fit: cover;
                        }

                        .gallery_grid:nth-child(1) {
                            grid-row: 2 span;
                        }

                        .gallery_grid:nth-child(4) {
                            grid-column: 2 span;
                        }


                    }
                }

                .content {
                    margin-top: 1.5rem;

                    .slider {
                        display: none;

                        @media (max-width: 700px) {
                            display: block;
                        }
                    }

                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        border-bottom: 1px solid $border;
                        padding-bottom: 38px;

                        @media (max-width: 768px) {
                            display: none;
                        }


                        .title_div {
                            h1 {
                                font-family: $font-jost;
                                font-weight: 500;
                                font-size: 30px;
                                margin-top: 1.5rem;

                                @media (max-width:480px) {
                                    font-size: 26px;
                                }

                                @media (max-width:450px) {
                                    font-size: 22px;
                                }
                            }

                            .title_div_description {
                                padding-top: 1rem;

                                @media (max-width:450px) {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 1rem;
                                }

                                a {
                                    i {
                                        color: $yellow1;
                                        padding: 0px 2.5px;
                                        font-size: 10px;
                                    }

                                    span {
                                        margin-left: 10px;
                                        font-size: 14px;
                                        font-family: $font-jost;
                                        color: $gray-3;
                                        font-weight: 500;
                                    }
                                }

                                span {
                                    margin-left: 1rem;
                                    color: #697488;
                                    font-size: 15px;
                                    font-family: $font-jost;

                                    @media (max-width:450px) {
                                        margin-left: 0px;
                                    }

                                    i {
                                        margin-right: 10px;
                                    }
                                }
                            }

                        }

                        .price_btn_div {
                            display: flex;
                            flex-direction: column;
                            gap: 6px;

                            .price_div {
                                font-size: 14px;
                                color: $light-1;
                                display: flex;
                                justify-content: flex-end;

                                span {
                                    color: $dark-1;
                                    font-size: 22px;
                                    margin-left: 10px;
                                    font-weight: 500;
                                }
                            }




                            button {
                                background-color: $blue-1;
                                color: rgb(251, 251, 251);
                                font-weight: 500;
                                padding: 12px 24px;
                                border-radius: 5px;

                                i {
                                    margin-left: 10px;
                                }

                                @media (max-width: 550px) {
                                    padding: 10px 15px;
                                    font-size: 12px;
                                }

                                &:hover {
                                    background-color: darken($blue-1, 10%);
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }

                    .navigation_modal_slider {
                        @media (max-width: 768px) {
                            display: none;
                        }

                        .prev_btn,
                        .next_btn {
                            position: absolute;
                            background-color: rgb(0, 0, 0);
                            cursor: pointer;
                            color: white;
                            width: 30px;
                            height: 40px;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 50%;
                            transform: translateY(-50%);

                            &:hover {
                                background-color: lighten(#000000, 5%);
                                color: rgb(200, 195, 195);
                                transition: 0.2s linear;

                            }
                        }


                        .prev_btn {
                            left: 10px;
                        }

                        .next_btn {
                            right: 10px;
                        }
                    }

                    .snapshot_title {
                        margin-top: 2rem;
                        font-weight: 500;
                        font-size: 22px;
                        font-family: $font-jost;
                    }

                    .snapshot_icons_content {
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        gap: 2rem;
                        justify-content: space-between;
border-bottom: 1px solid $border;
    padding-bottom: 30px;
                        @media (max-width: 768px) {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                        }

                        .snapshot_icons_div {
                            display: flex;
                            align-items: flex-start;

                            i {
                                color: lighten($blue-1, 7%);
                                padding-right: 10px;
                                font-size: 19px;

                                @media (max-width: 450px) {
                                    font-size: 18px;
                                }
                            }

                            .snapshot_icons_div_description {
                                font-size: 15px;
                                color: #051036;
                                font-family: $font-jost;
                            }
                        }

                    }

                    .overview_title {
                        margin-top: 2rem;
                        font-weight: 500;
                        font-size: 22px;
                        font-family: $font-jost;
                        color: #051036;

                    }

                    .overview_text {
                        font-size: 15px;
                        font-family: $font-jost;
                        margin-top: 20px;
                        margin-bottom: 2rem;
                        color: #051036;

                    }


                    .services {
                        padding: 10px 10px;
                        font-weight: 500;
                        border-bottom: solid 1px #d8e4e7;
                        padding: 10px 0px !important;
                        text-transform: capitalize;



                        .services_title {
                            margin-top: 2rem;
                            font-weight: 500;
                            font-size: 22px;
                            font-family: "Jost", sans-serif;
                            margin-bottom: 20px;
                        }

                        ul {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;

                            @media (max-width: 768px) {
                                grid-template-columns: 1fr 1fr;
                            }

                            li {
                                margin-bottom: 7px;
                                display: flex;
                                align-items: center;
                                font-size: 15px;
                                font-weight: 400;
                                gap: 10px;
                                position: relative;
                                color: #051036;


                                i {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .right_content {
                flex-basis: 23%;

                @media (max-width: 1000px) {
                    display: none;
                }
            }

            .links {
                display: flex;
                flex-wrap: wrap;

                p {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }


        }
    }
}