@import '../../../styles/colors';

.car_section {
    background-color: $bg_light;
    padding: 100px 0px;
    min-height: 700px;

    .car_container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;

        @media (max-width:1200px) {
            width: 960px;
        }

        @media (max-width:992px) {
            width: 720px;
        }

        @media (max-width:768px) {
            max-width: 540px;
            width: 100%;
        }

        @media (max-width:400px) {
            max-width: 380px;
        }

        .header {
            .header_title {
                text-align: center;
                font-weight: 700px !important;
            }
        }

        .body {
            padding-top: 50px;

            // overflow: hidden;
            &_content {
                padding: 0px 15px;
                position: relative;

                // !scroolbar width burdadi yani diger ornekdeki kontainer gibi rol oynuyur
                .content_car_wrap {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    // background-color: red;
                    overflow-x: scroll;
                    transition: .5s ease-in-out;

                    &::-webkit-scrollbar {
                        width: 0px;
                        background-color: transparent;
                    }

                    //!sliders
                    // .owl_stage_outer {
                    .owl_stage {
                        display: flex;
                        justify-content: space-between;

                        .car_item {
                            border-radius: 5px;
                            background-color: #fff;
                            position: relative;
                            transition: all .5s;
                            box-shadow: 0 0 40px rgb(82 85 90 / 10%);
                            border-radius: 5px;
                            width: 370px;
                            display: flex;
                            height: 380px;
                            flex-direction: column;
                            justify-content: flex-start;

                            &:not(:last-child) {
                                margin-right: 30px;
                            }

                            @media (max-width:1200px) {
                                width: 290px;
                            }

                            @media (max-width:992px) {
                                width: 330px;
                            }

                            @media (max-width:768px) {
                                width: 510px;
                            }

                            @media (max-width:480px) {
                                // background-color: red;
                                width: 400px;
                            }

                            @media (max-width:400px) {
                                // background-color: red;
                                width: 340px;
                            }

                            @media (max-width:380px) {
                                width: 330px;
                            }

                            .card_img_div {
                                overflow: hidden;

                                .card_image_link {
                                    height: 220px;
                                    display: block;
                                    overflow: hidden;
                                    position: relative;

                                    &:hover {
                                        transform: scale(1.05);
                                        transition: .5s ease;
                                    }


                                    .img {
                                        width: 100%;
                                        object-fit: contain;
                                        height: 100%;
                                    }

                                }
                            }

                            .card_body {
                                // border: 1px solid red;
                                padding: 10px 30px 25px;

                                &_title {
                                    font-weight: 500;
                                    line-height: 1.2;
                                    font-size: 19px;
                                    color: $black1;

                                    &:hover {
                                        color: $mainBlue;
                                        transition: all 0.4s;
                                        // cursor: pointer;
                                    }
                                }

                                &_attributes {
                                    // padding-bottom: 12px;

                                    .card_atr_ul {
                                        display: flex;
                                        align-items: center;
                                        padding: 0px;

                                        .card_atr_li {
                                            margin-right: 15px;
                                            padding-right: 15px;

                                            color: #0d233e;
                                            font-weight: 400;

                                            .li_icon {
                                                padding-right: 7px;
                                                font-size: 15px;
                                            }

                                            .li_desc {}
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // }



                }

                // !owlllnav
                .content_nav {
                    @media (max-width:992px) {
                        display: none;
                    }

                    .owl_prev {
                        left: -10px;

                        .prev_icon {}
                    }


                    .owl_next {
                        right: -10px;

                        .next_icon {
                            font-size: 18px;
                        }
                    }


                    .owl_next,
                    .owl_prev {
                        cursor: pointer;
                        position: absolute;
                        top: 45%;
                        transform: translateY(-45%);
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        background-color: #fff;
                        box-shadow: 0 0 40px rgb(82 85 90 / 10%);
                        border-radius: 50%;
                        text-align: center;
                        font-size: 20px;
                        color: #0d233e;
                        transition: all 0.3s;
                        z-index: 999;

                        &:hover {
                            background-color: #287dfa;
                            color: #fff;
                        }


                    }
                }

                //!owl dots
                .content_dots {
                    width: 100%;
                    text-align: center;
                    padding-top: 40px;

                    .dot {
                        cursor: pointer;
                        width: 12px;
                        height: 12px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        border: 2px solid rgba(19, 41, 104, 0.1);
                        display: inline-block;
                        -webkit-transition: all 0.3s;
                        -moz-transition: all 0.3s;
                        -ms-transition: all 0.3s;
                        -o-transition: all 0.3s;
                        transition: all 0.3s;
                        margin: 0 2px;
                    }

                    .dotActive {
                        background-color: $mainBlue;
                        border-color: $mainBlue;
                    }
                }
            }
        }
    }
}