@import '../../../styles/colors';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');

.hero_wrapper {
    min-height: 700px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;


    .hero {
        background-image: none !important;
    }

    .hero_box {
        width: 100%;
        min-height: 750px;
        height: 100%;
        position: relative;
        z-index: 2;
        // background-size: cover;
        // background-position: center;
        // background-image: url('/webpImages/hero.webp');
        display: flex;
        padding-bottom: 100px;

        @media (max-width: 1100px) {
            min-height: auto;
        }

        @media (max-width:920px) {
            min-height: auto;
        }

        .landing_image {
            height: 750px;
        }

        .line {
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            top: 0;
        }

        .line_bg1 {
            left: 14%;
        }

        .line_bg2 {
            left: 30%;
        }

        .line_bg3 {
            left: 45%;
        }

        .line_bg4 {
            left: 60%;
        }

        .line_bg5 {
            left: 75%;
        }

        .line_bg6 {
            left: 88%;
        }

        .containerr {
            max-width: 996px;
            margin: 0 auto;
            padding: 90px 0px;
            border: none;
            width: 100%;

            @media (max-width: 990px) {
                padding: 70px 0px;
            }

            @media (max-width: 650px) {
                padding: 30px 0px;
            }


            .content {
                background-color: transparent;
                min-height: 328px;
                position: relative;

                @media (max-width: 1200px) {
                    padding: 0px 50px;
                }

                @media (max-width: 990px) {
                    max-width: 725px;
                    width: 100%;
                    margin: 0 auto;

                }

                @media (max-width:660px) {
                    padding: 0px 20px;
                }


                //!hero section  zoom in out
                .hero_content {
                    padding-bottom: 38px;

                    .section_heading {
                        .section_title {
                            margin: 0px;
                            padding: 0;
                            font-size: 35px;
                            color: white;
                            font-weight: 500;

                            @media (max-width:670px) {
                                font-size: 25px;
                            }

                            .words {
                                display: inline-block;
                                position: relative;
                                text-align: left;
                                width: auto !important;
                                transform: scale(1.25);
                                animation-name: zoomIn;
                                animation-duration: 3.9s;
                                animation-iteration-count: infinite;
                                padding: 10px 0px;
                                font-size: 50px;
                                color: white;

                                @media (max-width: 670px) {
                                    font-size: 25px;
                                }

                                .is_hidden {
                                    opacity: 0;
                                    display: none;
                                }

                                .is_visible_animation_showcase_zoomin {
                                    display: block;
                                    opacity: 1;
                                }


                            }
                        }
                    }

                }

                //!changeing button
                .sectiontab_content {
                    box-sizing: border-box;
                    position: relative;
                    height: auto;
                    font-family: Roboto,
                        sans-serif;

                    .section_tab {
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        padding-left: 0;
                        margin-bottom: 0;
                        list-style: none;
                        padding-left: 24px;

                        .navItem {
                            cursor: pointer;

                            .navLink {
                                border-radius: 8px 8px 0 0;
                                padding: 15px 25px 15px 25px;
                                background-color: transparent;
                                color: #fff;
                                border: none;
                                text-decoration: none;
                                letter-spacing: 1px;
                                font-size: 16px;
                                transition: all 0.3s;
                                font-weight: 500;

                                .icon {
                                    margin-top: 0px;
                                    margin-right: 5px;
                                }
                            }

                            .navLink.active {
                                color: #0077da;
                                background-color: #fff;
                                transition: linear .5s;

                                .icon {
                                    color: #028DFA;
                                }
                            }
                        }
                    }
                }

                //!OneWay


                //? Return section


            }


        }

        .hero_svg {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 100px;
            fill: #fff;
            overflow: hidden;
            vertical-align: middle;
        }
    }
}



@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(1.25);
    }

    10% {
        opacity: 0;
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}