@import '../../../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');

.hero_wrapper {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .hero {
        background-image: none !important;
    }

    // @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    //     .hero_box {

    //         background-attachment: initial;

    //     }
    // }

    .hero_box {
        width: 100%;
        min-height: 755px;
        height: 100%;
        z-index: 2;
        background-size: cover;
        background-position: center;
              background-image: url('/images/hero3.jpeg');
        background-attachment: fixed;
        -webkit-background-attachment: fixed;
        display: flex;
        padding-bottom: 100px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        @media (max-width:1366px) {
            background-attachment: scroll;
        }

        @media (max-width:1200px) {

        }

        @media (max-width:990px) {
            padding-top: 100px;
        }


        .containerr {
            max-width: 1200px;
            margin: 0 auto;
            padding: 60px 0px;
            border: none;
            width: 100%;

            @media (max-width:1200px) {
                padding: 0px 0px;
                max-width: 970px;
            }



            @media (max-width:990px) {
                max-width: 750px;
                padding: 0px 0px;

            }

            .content {
                background-color: transparent;
                min-height: 328px;
                position: relative;

                @media (max-width: 1200px) {
                    padding: 0px 15px;
                }

                @media (max-width: 990px) {
                    max-width: 725px;
                    width: 100%;
                    margin: 0 auto;

                }

                @media (max-width:660px) {
                    padding: 0px 20px;
                }


                //!hero section  zoom in out
                .hero_content {
                    padding-bottom: 0px;
                    margin-top:
                        2rem;

                    @media (max-width:1200px) {
                        display: none;

                    }

                    .section_heading {
                        .section_title {
                            margin: 0px;
                            padding: 0;
                            font-size: 35px;
                            color: white;
                            font-weight: 500;


                            @media (max-width:670px) {
                                font-size: 25px;
                            }

                            .words {
                                display: inline-block;
                                position: relative;
                                text-align: left;
                                width: auto !important;
                                transform: scale(1.25);
                                animation-name: zoomIn;
                                animation-duration: 3.9s;
                                // animation-fill-mode: both;
                                // animation-delay: .5s;
                                animation-iteration-count: infinite;
                                padding: 10px 0px;
                                font-size: 50px;
                           color: #4d4d4d;
                                @media (max-width: 670px) {
                                    font-size: 25px;
                                }

                                .is_hidden {
                                    opacity: 0;
                                    display: none;
                                }

                                .is_visible_animation_showcase_zoomin {
                                    display: block;
                                    opacity: 1;
                                }

                                .zoom {}
                            }
                        }
                    }

                }

                //!car icon
                .carIcon {
                    box-sizing: border-box;
                    position: relative;
                    height: auto;
                    font-family: Roboto,
                        sans-serif;
                    margin-top: 4rem;

                    @media (max-width:1200px) {
                        margin-top: 16rem;

                    }

                    @media (max-width:990px) {
                        margin-top: 0rem;

                    }

                    .section_tab {
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        padding-left: 0;
                        margin-bottom: 0;
                        list-style: none;


                        .navItem {
                            cursor: pointer;

                            .navLink {
                                padding: 15px;
                                color: #fff;
                                border: none;
                                text-decoration: none;
                                letter-spacing: 1px;
                                font-size: 14px;
                                background: #ed8323;
                                color: #fff;
                                padding-top: 15px;
                                margin-top: -5px;
                                align-items: center;
                                justify-content: center;

                                span {
                                    @media (max-width:990px) {
                                        display: none;
                                    }
                                }

                                .icon {
                                    margin-top: 0px;
                                    margin-right: 5px;
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    background: rgba(0, 0, 0, .3);
                                    -webkit-border-radius: 50%;
                                    border-radius: 50%;
                                    text-align: center;
                                }
                            }

                        }
                    }
                }

                //tab content
                .tab_content {
                    // min-height: 300px;
                    width: 100%;
                    background: #fff;
                    -webkit-box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
                    box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
                    margin-top: 10px;

                    @media (max-width:670px) {
                        width: 100%;
                    }



                    padding: 15px 15px 25px 15px;

                    .tab_pane {
                        &_title {

                            float: left;
                            width: 100%;
                            margin-left: 29px;
                            font-size: 39.99px;
                            margin: 15px 0px 25px 29px;

                            @media (max-width:990px) {
                                margin: 15px 0px 25px 16px;

                            }

                            @media (max-width:670px) {
                                width: 100%;
                                font-size: 23px;
                                font-weight: 700;
                                padding-left: 15px;
                                margin: 10px 0 !important;

                            }

                            @media (max-width:450px) {
                                font-size: 18px;
                            }

                        }

                        .trdetails_title {
                            padding-left: 15px;
                            font-family: Roboto,
                                arial,
                                helvetica,
                                sans-serif;
                            margin-top: 1rem;
                            font-weight: 300;
                            color: #565656;
                            line-height: 1.3em;
                        }

                        .returndetails_title {
                            padding-left: 15px;
                            font-family: Roboto,
                                arial,
                                helvetica,
                                sans-serif;
                            margin-top: 1rem;
                            font-weight: 300;
                            color: #565656;
                            line-height: 1.3em;
                            margin-top: 2rem;
                        }

                        .error_div {
                            margin: 0px 15px;
                            // display: none;
                            opacity: 0;
                            transform: scale(1.25);
                            animation-name: zoomIntwo;
                            animation-duration: 3.9s;
                            // animation-fill-mode: both;
                            // animation-delay: .5s;
                            animation-iteration-count: 1;
                        }
                    }

                    .radio_button_div {
                        user-select: none;
                        margin-left: 10px;
                        cursor: pointer;

                        @media (max-width:990px) {
                            margin-left: 11px;
                        }

                        input,
                        label {
                            cursor: pointer;
                        }
                    }
                }


            }


        }


    }
}



@keyframes zoomIn {
    0% {
        opacity: 0;
        // transform: scale(1.25);
        transform: rotateX(130deg);
    }

    10% {
        opacity: 0;
        // transform: scale(1.25);
        transform: rotateX(130deg);
    }

    100% {
        transform: scale(1);
        transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes zoomIntwo {
    0% {
        opacity: 0;
        transform: scale(0);
    }



    25% {
        opacity: 1;
        transform: scale(1);
    }




    100% {
        transform: scale(1);
        opacity: 1;
    }
}