@import '../../../styles/_colors';

.top_header {
    padding: 10px 0;
    max-height: 60px;
    background: #4d4d4d;

    @media (max-width:990px) {
        max-height: 170px;

    }


    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 15px;

        @media (max-width:1200px) {
            padding: 0px 0px;
            max-width: 970px;
        }



        @media (max-width:990px) {
            max-width: 750px;
            padding: 0px 0px;

        }

        .content {

            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @media (max-width:990px) {
                margin: 0 var(--window-margin);
                // max-width: 750px;
            }

            .content_title_a {
                cursor: pointer;
                width: 380px;
                display: inline;
                z-index: 9999999;

                h1 {
                    margin-bottom: 0px;
                }

                @media (max-width:990px) {
                    cursor: default;
                    z-index: 0;

                    width: auto;
                }
            }

            .h1 {}

            .top_header_title {
                color: white;
                font-size: 29px;
                font-weight: 400;
                margin-top: -4px;
                z-index: 999;

                &:hover {
                    color: $yellow;
                    transition: $transition;
                }

                @media (max-width:990px) {
                    margin-bottom: 2rem;
                }

                @media (max-width:768px) {
                    font-size: 22px;
                }


            }

            .top_header_left {
                font-size: 14px;

                .shop_cart {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    color: white;
                    margin-top: -32px;
                    margin-bottom: 5px;

                    @media (max-width:568px) {
                        margin-right: 30px;
                        margin-bottom: 10px;
                        margin-top: -28px;


                    }



                    i {
                        margin-right: 5px;
                        font-size: 12px;

                    }

                }

                .phoneNumber {
                    margin-top: -0.4rem;
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 1rem;

                    @media (max-width:990px) {
                        margin-top: 2.5rem;


                    }

                    .phone_tag {
                        font-size: 25px;
                        color: white;

                        @media (max-width:450px) {
                            font-size: 22px;

                        }
                    }

                }
            }

        }
    }

}