@import '../../../styles/colors';

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 9999;
    padding: 100px !important;
    margin: 0px;
    height: 100%;
    width: 100%;
    animation: zoomout;
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: .18s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    @media (max-width: 600px) {
        padding: 40px !important;
    }

    @media (max-width: 450px) {
        padding: 20px !important;
    }

    &_container {
        max-width: 450px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(0, 0, 255, 1);
        color: black;
        font-weight: 400;
        text-align: center;
        padding: 15px 20px;
        transition: .5s ease-in-out;

        p {
            font-weight: 500;

            @media (max-width: 600px) {
                font-size: 12px;
            }

            @media (max-width:500px) {
                font-size: 11px;
            }
        }

        .button_div {
            display: flex;
            justify-content: center;
            margin-top: .75rem;
            align-items: center;

        }




    }
}



@keyframes zoomout {
    0% {
        opacity: 0;

        transform: scale(0);

    }

    10% {
        opacity: 0;
        transform: scale(0.5);


    }

    100% {
        opacity: 1;
        transform: scale(1);


    }
}