@import '../../../styles/colors';

.hasReturnQuot {
    margin-bottom: 2rem;
    background-color: red;
}

.details_header {
    .header_card {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

        i {
            font-size: 10px;
        }

        .card_top {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;

            .card_info {
                flex: 1;

                .right_title {
                    padding: 10px 15px;
                    position: relative;
                    font-weight: 500;
                    letter-spacing: 1.5px;

                    &::after {
                        content: '';
                        width: 40px;
                        background-color: rgb(14, 134, 225);
                        height: 3.8px;
                        opacity: 0.7;
                        position: absolute;
                        bottom: 10px;
                        left: 15px;
                    }
                }

                .info {
                    padding: 0px 0px;

                    @media (max-width:970px) {
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 2px;
                        background-color: transparent !important;
                    }

                    li {
                        flex-direction: row;
                        color: rgb(31, 31, 31);
                        padding: 4px 15px;
                        letter-spacing: 0.7px;
                        border-bottom: 2px solid rgba(13, 8, 61, 0.204);

                        .details_headerr_li {
                            display: flex;
                            align-items: center;
                            letter-spacing: 1px;
                            font-size: 13px;

                            p {
                                display: flex;
                                align-items: center;
                            }

                            .li_info {
                                display: flex;
                                align-items: center;

                                .property {
                                    color: black;
                                    font-weight: bold;

                                    @media (max-width:350px) {
                                        font-size: 11px !important;
                                    }
                                }

                                .value {
                                    margin-left: 4px;

                                    @media (max-width:350px) {
                                        font-size: 11px !important;
                                    }
                                }
                            }

                            i {
                                margin-right: 5px;
                            }
                        }

                        .details {
                            width: 100%;
                            flex-direction: column;
                            display: flex;

                            .details_bottom {
                                position: relative;
                                display: flex;

                                align-items: baseline;

                                i {
                                    font-size: 10px;
                                    font-weight: bold;
                                    color: rgb(3, 3, 3);
                                }



                                .desc {
                                    margin: 0;
                                    font-weight: 300;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 13px;
                                    padding-left: 6px;
                                    font-weight: 500;
                                    color: rgb(96, 95, 95);



                                    b {
                                        display: none;
                                        font-weight: bold;

                                    }
                                }

                                //bu tarix ve saat ucundur
                                .descc {
                                    margin: 0;
                                    font-weight: 300;
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 13px;
                                    padding-left: 15px;


                                }
                            }
                        }
                    }

                    .details_flex {
                        display: flex;
                        flex-direction: row !important;
                        justify-content: space-between;

                        .desc {
                            margin-right: 5px !important;
                        }
                    }
                }
            }



            .card_right {
                flex: 1;

                .right_title {
                    padding: 10px 15px;
                    position: relative;
                    font-weight: 500;
                    letter-spacing: 1.5px;


                    &::after {
                        content: '';
                        width: 40px;
                        background-color: rgb(14, 134, 225);
                        height: 3.8px;
                        position: absolute;
                        bottom: 10px;
                        left: 15px;
                        opacity: 0.7;
                    }
                }

                .info {
                    padding: 0px 0px;

                    li {
                        flex-direction: row;
                        color: rgb(31, 31, 31);
                        padding: 4px 15px;
                        letter-spacing: 0.7px;

                        &:not(:last-child) {
                            border-bottom: 2px solid rgba(13, 8, 61, 0.204);

                        }

                        .details_headerr_li {
                            display: flex;
                            align-items: center;
                            letter-spacing: 1px;
                            font-size: 13px;
                            color: black;
                            font-weight: bold;

                            @media (max-width:350px) {
                                font-size: 11px !important;
                            }

                            i {
                                margin-right: 5px;
                            }

                        }

                        .details {
                            width: 100%;
                            flex-direction: column;
                            display: flex;


                            .details_bottom_container {

                                .details_bottom {
                                    position: relative;
                                    display: flex;
                                    align-items: baseline;

                                    i {
                                        font-size: 10px;
                                        font-weight: bold;
                                        color: rgb(3, 3, 3);
                                    }



                                    .desc {
                                        margin: 0;
                                        font-weight: 300;
                                        display: flex;
                                        flex-direction: column;
                                        font-size: 13px;
                                        padding-left: 6px;
                                        font-weight: bold;
                                        color: rgb(110, 109, 109);

                                        @media (max-width:350px) {
                                            font-size: 11px !important;
                                        }

                                        b {
                                            display: none;
                                            font-weight: bold;
                                        }
                                    }

                                    .descc {
                                        margin: 0;
                                        font-weight: 300;
                                        display: flex;
                                        flex-direction: column;
                                        font-size: 13px;
                                        padding-left: 15px;


                                        @media (max-width:350px) {
                                            font-size: 11px !important;
                                        }
                                    }
                                }

                                .details_bottom_description {
                                    display: flex;
                                    letter-spacing: 1px;
                                    font-size: 13px;
                                    color: rgb(96, 95, 95);
                                    align-items: center;
                                    font-weight: normal;

                                    @media (max-width:350px) {
                                        font-size: 11px !important;
                                    }

                                    span {
                                        &:nth-child(2) {
                                            text-decoration: underline;
                                        }
                                    }

                                    i {
                                        font-size: 4px;
                                        font-weight: bold;
                                        color: rgb(3, 3, 3);
                                    }

                                    .bottom_main_desc {
                                        padding-left: 6px;

                                    }

                                }
                            }
                        }
                    }

                    .details_flex {
                        display: flex;
                        flex-direction: row !important;

                        .desc {
                            margin-right: 5px !important;
                        }
                    }
                }
            }


        }




    }


}