@import '../../../styles/_colors';


.details_header {

    // background-color: #efefef;

    &:hover {
        box-shadow: none;
        transition: .5s ease-in-out;
        // background: rgba(142, 149, 189, 0.13);

    }

    .header_card {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

        i {
            font-size: 10px;
        }



        .passenger_details {
            // display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;


            .card_info {



                .info {
                    li {
                        flex-direction: row;
                        color: rgb(31, 31, 31);
                        padding: 10px 0;
                        letter-spacing: 0.7px;

                        &:not(:last-child) {
                            border-bottom: 1px dotted $yellow;
                        }

                        .details_headerr_li {

                            display: grid;
                            grid-template-columns: 150px 1fr;
                            align-items: center;
                            letter-spacing: 1px;
                            font-size: 12.4px;

                            @media (max-width:450px) {
                                grid-template-columns: 136px 1fr;
                            }

                            .li_info {
                                display: grid;
                                grid-template-columns: 25px 1fr;
                                align-items: center;
                                gap: 5px;



                                @media (max-width:450px) {
                                    gap: 0px;
                                }

                                .property {
                                    color: black;
                                    font-weight: bold;
                                    font-size: 14px;

                                    @media (max-width:450px) {
                                        font-size: 13px;
                                    }

                                    // @media (max-width:350px) {
                                    //     font-size: 11px !important;
                                    // }
                                }

                                i {
                                    // background-color: $yellow;
                                    // background-color: #ed8323e3;
                                    color: $yellow;
                                    font-size: 13px;
                                    padding: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    @media (max-width:450px) {
                                        font-size: 11px;
                                    }

                                }

                            }

                            .value {
                                margin-left: 2px;
                                font-weight: 500;
                                font-size: 13px;

                                @media (max-width:350px) {
                                    font-size: 11px !important;
                                }
                            }



                        }


                    }




                }
            }


            .card_right {

                .info {
                    .details_flex {
                        display: flex;
                        flex-direction: row !important;
                        justify-content: space-between;

                        .desc {
                            margin-right: 5px !important;
                        }
                    }

                    .border_line {
                        border-bottom: 2px solid $yellow !important;
                        margin-top: -1rem;
                        margin-bottom: .5rem;
                    }

                    li {
                        flex-direction: row;
                        color: rgb(31, 31, 31);
                        padding: 10px 0;
                        letter-spacing: 0.7px;

                        &:not(:last-child) {
                            border-bottom: 1px dotted $yellow;

                        }


                        .details {
                            width: 100%;
                            flex-direction: column;
                            display: flex;

                            .details_headerr_li {
                                display: flex;
                                align-items: center;
                                letter-spacing: 1px;
                                font-size: 14px;
                                color: black;
                                font-weight: bold;
                                gap: 5px;

                                @media (max-width:450px) {
                                    gap: 0px;
                                    font-size: 13px;
                                }

                                i {
                                    // background-color: rgb(255 255 255 / 89%);
                                    /* color: #8c7100; */
                                    font-size: 13px;
                                    padding: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: $yellow;

                                    @media (max-width:450px) {
                                        font-size: 11px;
                                    }
                                }

                            }

                            .details_bottom_container {
                                // border: 1px solid red;

                                .details_bottom {
                                    position: relative;
                                    display: flex;
                                    align-items: baseline;

                                    i {
                                        font-size: 10px;
                                        font-weight: bold;
                                        color: rgb(3, 3, 3);
                                        padding: 5px;
                                    }



                                    span {
                                        margin: 0;
                                        font-weight: 300;
                                        display: flex;
                                        flex-direction: column;
                                        font-size: 13px;
                                        padding-left: 6px;
                                        font-weight: bold;
                                        color: rgb(110, 109, 109);

                                        @media (max-width:450px) {
                                            padding-left: 0px;
                                        }

                                        b {
                                            display: none;
                                            font-weight: bold;
                                        }
                                    }
                                }

                                .details_bottom_description {
                                    display: flex;
                                    letter-spacing: 1px;
                                    font-size: 13px;
                                    color: rgb(96, 95, 95);
                                    align-items: center;
                                    font-weight: normal;
                                    gap: 5px;

                                    @media (max-width:450px) {
                                        gap: 0px;
                                    }

                                    i {
                                        font-size: 4px;
                                        font-weight: bold;
                                        color: rgb(3, 3, 3);
                                        padding: 5px;
                                    }

                                    .bottom_main_desc {
                                        padding-left: 6px;

                                        span {

                                            // font-weight: normal;
                                            &:nth-child(2) {
                                                // font-weight: bold;
                                                text-decoration: underline;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }


            }


        }
    }
}