@import '../../../styles/variables';

.steps {
    // display: flex;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 2rem;
        @media (max-width: 410px) {
               gap: 10px;
            }
}
.steps[direction="true"]{
   .step{
    margin-right: 0px;
    .stepLabel {
            margin-right: 10px ;
            margin-left: 0px;
            z-index: 0;
    
            @media (max-width: 768px) {
                display: none;
            }
    
        }
                   .stepLine {
                       height: 2px;
                       margin-right: 1rem;
                       margin-left: 0rem;}
   }
}

.step.completed {
    opacity: 1 !important;
}

.step {
    // display: flex;
    // align-items: center;
    margin-right: 20px;
    opacity: 0.5;
    position: relative;
    display: grid;
    grid-template-columns: 24px max-content 1fr;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 24px 1fr;
    }

    &.active {
        opacity: 1;
        font-weight: 500;
    }

    &.completed .stepNumber {
        background-color: #0b950f;
        color: white;
        opacity: 1 !important;
    }

    .stepNumber {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $primary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;

    }

    .stepLabel {
        margin-left: 10px;
        z-index: 0;
font-size: 18px;
        @media (max-width: 768px) {
            display: none;
        }

    }

    .stepLine {
        height: 2px;
        margin-left: 1rem;

        @media (max-width: 410px) {
            margin-left: 4px;
        }

        width: 100%;
        background-color: #ccc;
    }
}