    @import '../../../styles/variables';
    @import '../../../styles/_fonts';

    .all_languages {
        position: absolute;
        background-color: white;
        top: 80px;
        left: 0px;
        width: 100%;
        display: flex;
        width: 285px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        padding: 13px;
        height: auto;
        align-items: center;
        transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        display: grid;
        grid-template-columns: 131px 127px;
        visibility: hidden;
        opacity: 0;

        @media(max-width:1200px) {
            left: -242px;
        }

        &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 20px;
            width: 10px;
            height: 10px;
            background-color: white;
            transform: rotate(45deg);

            @media(max-width:1200px) {
                left: 253px;
            }
        }

        .content {
            padding: 5px 10px;
            display: flex;
            align-items: center;

            .img_div {
                width: 20px;
                position: relative;
                height: 11px;
            }

            span {
                margin-left: 10px;
                color: $dark-1 !important;
                // font-family: $font-jost;

                i {
                    font-size: 11px;
                    margin-left: 10px;
                }
            }


            &:hover {
                color: lighten($primary, 45%);
                background-color: rgba(53, 84, 209, 0.1);
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }


    }