         @import '../../../styles/variables';
         @import '../../../styles/_fonts';

         // it is for desktop
         .header_menu_content {
             ul {
                 @media(max-width:1280px) {
                     display: none;
                 }

                 display: flex;

                 li {
                     padding: 25px 0px;

                     .hidefor_desktop {
                         display: none;
                     }

                     a {
                         padding: 0 10px;
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         font-size: 15px;
                         transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                         color: white;
                         text-transform: capitalize;

                         @media(max-width:1340px) {
                             padding: 0 7px;
                         }

                         &:hover {
                             color: darken(#fff, 36%);
                         }

                         span {
                             margin-right: 6px;
                             font-weight: 500;
                             letter-spacing: 0.5px;
                             cursor: pointer;
                             font-weight: 500 !important;
                         }

                         i {
                             font-size: 12px;
                             margin-bottom: -1px;
                             font-weight: bold;
                         }
                     }
                 }

                 .has_children {
                     position: relative;

                     .nocursor {
                         pointer-events: none;

                         span {
                             cursor: auto !important;
                         }
                     }

                     .hoverUl {
                         position: absolute;
                         background-color: white;
                         top: 80px;
                         left: 0px;
                         width: 100%;
                         height: 0px;
                         visibility: hidden;
                         opacity: 0;
                         transition: 0.1s ease;
                         display: flex;
                         flex-direction: column;
                         width: 275px;
                         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                         border-radius: 5px;
                         padding: 13px;
                         height: auto;

                         @media (max-width: 990px) {
                             display: none;
                         }

                         &:before {
                             content: '';
                             position: absolute;
                             top: -5px;
                             left: 20px;
                             width: 10px;
                             height: 10px;
                             background-color: white;
                             transform: rotate(45deg);
                         }

                         .li_item {
                             padding: 12px 14px 8px 20px !important;
                             text-transform: capitalize;


                             @media (max-width: 990px) {
                                 &:hover {
                                     pointer-events: none;
                                 }
                             }

                             &:hover {
                                 color: lighten($primary, 15%);
                                 background-color: rgba(53, 84, 209, 0.15);
                                 transition: 0.4s ease;
                             }

                             a {
                                 color: $dark-1;
                                 padding-left: 0px;

                                 &:hover {
                                     color: lighten($primary, 15%);
                                     transition: 0.1s ease;

                                     span {
                                         cursor: pointer !important;
                                     }
                                 }
                             }
                         }


                     }

                     // when we hover to hoverUl it is gonna be visible

                     &:hover {
                         .hoverUl {
                             opacity: 1;
                             visibility: visible;

                         }
                     }
                 }

             }
         }