@import '../../../styles/colors';

.carIcon {
    box-sizing: border-box;
    position: relative;
    height: auto;
    font-family: Roboto, sans-serif;
    margin-top: 4rem;

    @media (max-width:1200px) {
        margin-top: 16rem;

    }

    @media (max-width:990px) {
        margin-top: 0rem;
    }

    @media (max-width:768px) {
        display: none;
    }

    .section_tab {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;


        .navItem {
            cursor: pointer;

            .navLink {
                padding: 15px;
                color: #fff;
                border: none;
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 14px;
                background: $yellow3;
                color: #fff;
                padding-top: 15px;
                align-items: center;
                justify-content: center;
                margin-top: -5px;

                span {
                    @media (max-width:990px) {
                        display: none;
                    }
                }

                .icon {
                    margin-top: 0px;
                    margin-right: 5px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    background: rgba(0, 0, 0, .3);
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;

                    span {
                        overflow: visible !important;
                    }

                    img {
                        top: 8px !important;
                        filter: invert(88%) sepia(99%) saturate(2%) hue-rotate(98deg) brightness(108%) contrast(100%);

                    }
                }
            }

        }
    }
}