.alert_container {
    width: 100%;
    height: 100%;
    position: absolute;

    .alert_div {
        position: fixed;
        width: 300px;
        height: 60px;
        background-color: #00ba00;
        display: flex;
        align-items: center;
        padding: 10px;
        bottom: -100px;
        opacity: 0;
        right: 50%;
        border-radius: 5px;
        transform: translate(50%);
        transition: 2s ease;

        .check {
            color: white;
        }

        span {
            color: rgb(253, 253, 253);
            margin-left: 10px;
            font-size: 16px;
        }

        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: rgba(255, 255, 255, 0.657);
            cursor: pointer;
        }

        .container {
            margin: 0 auto;
            width: 100%;
            text-align: center;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;

            .progress2 {
                border-radius: 30px;
                background-color: transparent;

                .progress_bar2 {
                    height: 5px;
                    border-bottom-left-radius: 30px;
                    border-top-right-radius: 30px;
                    transition: 0.4s linear;
                }
            }

            .progress_moved {
                .progress_bar2 {
                    background-color: #f32a23;
                    animation: progress 4s infinite;
                }
            }

        }
    }

    .alert_div_warning {
        background-color: #c9b604 !important;
    }

    .alert_div_error {
        background-color: #ff0202 !important;
    }

    .showAlert {
        animation: alertt;
        opacity: 1;
        animation-duration: 6s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
}



@keyframes alertt {
    0% {
        bottom: -40px;
        opacity: 0;
    }

    40% {
        bottom: 25px;
        opacity: 1;
    }

    60% {
        bottom: 25px;
        opacity: 1;
    }

    100% {
        bottom: -40px;
        opacity: 0;
    }
}

@keyframes progress {
    0% {
        width: 100%;
        background: #ffffff;
    }

    100% {
        width: 0%;
        background: #ffffff;
        box-shadow: 0 0 40px #f3c623;
    }
}