/* o terefden gelen bg-dange falan hamsi onceden css ile ayarlanir */
.toast_notification {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    @media(max-width:400px){
    width: 300px;
    }
    .toast_nofication_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0.75rem;
        background-clip: padding-box;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        font-size: 16px;

        i {
            color: black;
            cursor: pointer;
        }
    }

    .toast_notification_body {
        padding: 0.75rem;
        font-weight: 500;
        font-size: 15px;
        word-wrap: break-word;
    }
}