      @import '../../../styles/colors';

      .select_box_hour_minute {

          .labelText {
              display: none;

              @media (max-width: 990px) {
                  margin-bottom: 5px;
                  display: block;
              }
          }

          .dropholder {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              font: 16px arial;
              color: #0d233e !important;
              position: relative;
              box-sizing: border-box;
              background: transparent;

              .errrorDropdown {
                  border: 1px solid rgb(255, 36, 36) !important;
              }

              .dropdown {
                  float: left;
                  width: 100%;
                  font: 16px arial;
                  cursor: pointer;
                  height: 40px;
                  position: relative;
                  padding-left: 8px;
                  box-sizing: border-box;
                  z-index: 20;
                  border: 1px solid rgba(128, 137, 150, 0.2);
                  background-color: white;
                  width: 57px;

                  @media (max-width: 1200px) {
                      width: 48px;
                  }

                  @media (max-width: 990px) {
                      width: 100%;
                  }

                  .holder {
                      line-height: 42px;
                      font-size: 14px;
                      margin: 0;
                      user-select: none;
                  }

                  &:after {
                      content: "▾";
                      font-size: 16px;
                      position: absolute;
                      right: 5px;
                      top: 12px;
                      display: block;

                      @media (max-width: 990px) {
                          right: 15;
                      }
                  }
              }

              .dropdownOption {
                  padding: 10px 0 0 0;
                  position: absolute;
                  left: 0;
                  top: 42px;
                  right: 0;
                  margin: 0;
                  cursor: pointer;
                  display: none;
                  background-color: white;
                  color: #0d233e;
                  border-radius: 0 0 10px 10px;
                  z-index: 5;
                  overflow-y: scroll;
                  height: 190px;
                  user-select: none;
                  font-size: 14px;

                  &::-webkit-scrollbar {
                      background: #fff;
                      width: 5px;
                      height: 5px !important;
                  }

                  &::-webkit-scrollbar-thumb {
                      background: rgb(119, 119, 119);
                      border-radius: 50px;
                  }

                  .li {
                      padding: 10px 15px;
                      color: #0d233e;
                      list-style: none;
                      user-select: none;

                      &:hover:not(.current) {
                          color: $yellow;
                          background-color: rgba(40, 125, 250, 0.1);
                          font-weight: 400;
                          transition: .5s ease;
                      }
                  }

                  .li.current {
                      background-color: $yellow;
                      color: #fff !important;
                  }
              }


              .DropDownActive+.dropdownOption {
                  display: block;
                  z-index: 9999;
                  width: 55px;

                  @media (max-width: 990px) {
                      width: 100%;
                  }
              }

              .DropDownActive+.dropdownOptionHour {
                  left: 0px !important;
              }

              .dropdownOptionHour {
                  position: absolute;
                  left: 0px !important;

                  @media (max-width: 1200px) {
                      left: -10px;
                  }
              }

              .DropDownActive+.dropdownOptionMinute {
                  right: 0px !important;
                  position: absolute;
                  transform: translateX(59px) !important;

                  @media (max-width: 1200px) {
                      transform: translateX(50px) !important;
                  }

                  @media (max-width: 990px) {
                      transform: translateX(0px) !important;
                  }
              }

              .dropdownOptionMinute {
                  right: 0px !important;
              }
          }
      }

      .minute {
          font-size: 1rem;
      }