@import '../../../styles/variables';

.lds_ellipsis {
    display: inline-block;
    position: relative;
    // width: 40px;
    // height: 40px;
    div {
        position: absolute;
        top: 33px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $primary;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 8px;
            left: 36px;
            animation: lds_ellipsis1 0.9s infinite;
            background-color: rgb(71, 179, 179);
        }

        &:nth-child(2) {
            // left: 8px;
            left: 36px;
            animation: lds_ellipsis2 0.9s infinite;
            background-color: $blue-1;
        }

        &:nth-child(3) {
            left: 30px;
            animation: lds_ellipsis2 0.9s infinite;
            background-color: $dark-4;
            // display: none;
        }

        &:nth-child(4) {
            left: 56px;
            animation: lds_ellipsis3 0.9s infinite;
            background-color: lighten($blue-1, 25%);
        }
    }
}

@keyframes lds_ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds_ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds_ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}