@import '../../../styles/variables';
@import '../../../styles/fonts';

.selected_points {
    .point_div[direction="false"] {
        position: relative;
        margin-right: 8px;
        transition: .2s linear;

        img {
            width: 12px;
            position: absolute;
            // top: 39%;
            // top: 38%;
            top: 32%;
            left: 9px;
            transform: translateY(-50%);
        }

        input {
            outline: none;
            padding: 6px 30px !important;
            margin-bottom: 15px;
            cursor: default;
            transition: .2s linear;
            width: 100%;
            border: none;
            border: 1px solid lighten(#efefef, 7%);
            font-size: 15px;
            font-family: $font-jost;
            border-radius: 5px;

            box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.1) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
            margin-top: -4px;
            text-transform: capitalize;

            &::placeholder {
                color: $dark-1;
                font-weight: 500;

            }

            &:hover {
                &::placeholder {
                    color: darken($dark-1, 45%);
                }

                // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
                box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.1) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.15) 0px -2px 6px 0px inset;

            }

        }

        .icons {
            position: absolute;
            top: 8px;
            right: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            z-index: 1;
            width: 15px;
            height: 15px;
            color: #fff;
            transition: .5s linear;
            cursor: pointer;
        }

        .icons_check_span {
            // background: #63ce26;
            // display: none;
            opacity: 1;
            font-size: 8px;
            display: flex;
            justify-content: center;
            color: #63ce26;
            font-size: 15px;
            align-items: center;

            @media (max-width:990px) {
                display: none;
            }
        }

        //in quotation results page we r gonna hide check and delete button



        @media(max-width:990px) {

            .icons_check_span[hideme="true"],
            .icons_delete_span[hideme="true"] {
                display: none;

                &:hover {
                    display: none;
                }
            }
        }

        .icons_delete_span {
            font-size: 15px;
            opacity: 0;
            transform: scale(0);
            color: red;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media (max-width:990px) {
                opacity: 1;
                transform: scale(1);
                font-size: 19px;
            }
        }

        &:hover {


            .icons_delete_span {
                opacity: 1;
                transform: scale(1);
            }

            input {}

            .icons_check_span {
                visibility: hidden;
                transform: scale(0);
                opacity: 0;
            }
        }
    }

    .point_div[direction="true"] {
        position: relative;
        margin-right: 8px;

        img {
            width: 12px;
            position: absolute;
            top: 29%;
            right: 9px;
            transform: translateY(-50%);
            transform: rotate(180deg);
        }

        input {
            outline: none;
            padding: 6px 30px !important;
            margin-bottom: 15px;
            cursor: default;
            transition: .2s linear;
            width: 100%;
            border: none;
            border: 1px solid lighten(#efefef, 7%);
            font-size: 14px;
            font-family: $font-jost;
            border-radius: 5px;
            text-transform: capitalize;
            box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.2) 0px -2px 6px 0px inset;

            &::placeholder {
                color: darken($dark-1, 5%);
                font-weight: 400;
            }

            &:hover {
                &::placeholder {
                    color: darken($dark-1, 45%);
                }

                // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
                box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.1) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.1) 0px -2px 6px 0px inset;
            }


        }

        .icons {
            position: absolute;
            top: 12px;
            left: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            z-index: 1;
            width: 15px;
            height: 15px;
            color: #fff;
            transition: .5s linear;
            cursor: pointer;
        }

        .icons_check_span {
            opacity: 1;
            font-size: 8px;
            display: flex;
            justify-content: center;
            color: #63ce26;
            font-size: 15px;
            align-items: center;

        }

        //in quotation results page we r gonna hide check and delete button



        @media(max-width:990px) {

            .icons_check_span[hideme="true"],
            .icons_delete_span[hideme="true"] {
                display: none;

                &:hover {
                    display: none;
                }
            }
        }

        .icons_delete_span {
            font-size: 15px;
            opacity: 0;
            transform: scale(0);
            color: red;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &:hover {
            .icons_delete_span {
                opacity: 1;
                transform: scale(1);
            }

            input {}

            .icons_check_span {
                visibility: hidden;
                transform: scale(0);
                opacity: 0;
            }
        }
    }

}

.isTaxiDeal_selected_points {
    .point_div[direction="false"] {
        margin-right: 0px;

        img {
            top: 45% !important;
            filter: invert(46%) sepia(39%) saturate(204%) hue-rotate(181deg) brightness(89%) contrast(91%)
        }

        input {
            margin-bottom: 0px !important;
            box-shadow: none !important;
            border: 1px solid $border;
            color: $input_text_color !important;

            &::placeholder {
                color: $input_text_color ;
            }

            &:hover {
                &::placeholder {
                    color: $input_text_color ;
                }
            }
        }

    }

    .point_div[direction="true"] {
        margin-right: 0px;

        img {
            top: 45% !important;

            filter: invert(46%) sepia(39%) saturate(204%) hue-rotate(181deg) brightness(89%) contrast(91%)
        }

        input {

            margin-bottom: 0px !important;
            border: 1px solid $border;
            color: $input_text_color !important;
            box-shadow: none !important;

            &::placeholder {
                color: $input_text_color ;
            }

            &:hover {
                &::placeholder {
                    color: $input_text_color ;
                }
            }
        }

    }
}

.hasoneitem_taxideals {
    .point_div[direction="false"] {
        &:hover {
            .icons_check_span {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .point_div[direction="true"] {
        &:hover {
            .icons_check_span {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}